<div class="card">
    <div class="card-header d-flex justify-content-between align-items-center">
        <h4 class="header-title">Editace manuálu</h4>

        <div class="dropdown">
            <a href="#" class="dropdown-toggle arrow-none card-drop p-0" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="mdi mdi-dots-vertical"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-end">
                <a href="{{ path('edit_manual', {'id': manual.id}) }}" class="dropdown-item"><i class="mdi mdi-pencil me-1"></i>Upravit</a>
                <a href="{{ path('delete_manual', {'id': manual.id}) }}" class="dropdown-item"><i class="mdi mdi-delete me-1"></i>Smazat</a>
            </div>
        </div>
    </div>

    <div class="card-body pt-1">

        <a href="{{ path('manual_logos', {'id': manual.id}) }}">
            <div class="d-flex align-items-center border border-light rounded p-2 mb-2 {{ app.request.get('_route') == 'manual_logos' ? 'bg-primary-lighten' }}">
                <div class="flex-shrink-0 me-2">
                    <i class="ri-shield-cross-line widget-icon rounded-circle"></i>
                </div>
                <div class="flex-grow-1">
                    <h5 class="fw-semibold my-0">Logotypy ({{ manual.logosCount }})</h5>
                </div>
            </div>
        </a>

        <a href="{{ path('manual_fonts', {'id': manual.id}) }}">
            <div class="d-flex align-items-center border border-light rounded p-2 mb-2 {{ app.request.get('_route') == 'manual_fonts' ? 'bg-primary-lighten' }}">
                <div class="flex-shrink-0 me-2">
                    <i class="ri-font-size widget-icon rounded-circle"></i>
                </div>
                <div class="flex-grow-1">
                    <h5 class="fw-semibold my-0">Fonty ({{ manual.enabledFontsCount }})</h5>
                </div>
            </div>
        </a>

        <a href="{{ path('manual_colors', {'id': manual.id}) }}">
            <div class="d-flex align-items-center border border-light rounded p-2 mb-2 {{ app.request.get('_route') == 'manual_colors' ? 'bg-primary-lighten' }}">
                <div class="flex-shrink-0 me-2">
                    <i class="ri-sip-line widget-icon rounded-circle"></i>
                </div>
                <div class="flex-grow-1">
                    <h5 class="fw-semibold my-0">Barevná paleta ({{ manual.colors|length }})</h5>
                </div>
            </div>
        </a>

        <a href="{{ path('manual_mockup_pages', {'id': manual.id}) }}">
            <div class="d-flex align-items-center border border-light rounded p-2 {{ app.request.get('_route') == 'manual_mockup_pages' ? 'bg-primary-lighten' }}">
                <div class="flex-shrink-0 me-2">
                    <i class="mdi mdi-book-open-page-variant-outline widget-icon rounded-circle"></i>
                </div>
                <div class="flex-grow-1">
                    <h5 class="fw-semibold my-0">Stránky s mockupy (0)</h5>
                </div>
            </div>
        </a>

    </div>
</div>
