{% extends 'base.html.twig' %}

{% block title %}Přidat variantu{% endblock %}
{% set active_menu_item = 'emails' %}

{% block breadcrumb %}
    <ol class="breadcrumb m-0 pt-0">
        <li class="breadcrumb-item"><i class="uil-home-alt"></i> <a href="{{ path('homepage') }}">Projekty</a></li>
        <li class="breadcrumb-item"><a href="{{ path('project_dashboard', {'id': project.id}) }}">{{ project.name }}</a></li>
        <li class="breadcrumb-item"><a href="{{ path('email_signature_templates', {'id': project.id}) }}">E-maily</a></li>
        <li class="breadcrumb-item"><a href="{{ path('email_signature_variants', {'id': email_template.id}) }}">{{ email_template.name }}</a></li>
        <li class="breadcrumb-item active">{{ block('title') }}</li>
    </ol>
{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-body">
            {{ form_start(form) }}
            {{ form_row(form.name) }}

            <input type="submit" name="submit" value="Přidat" class="btn btn-primary">

            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
