{% extends 'base_manual.html.twig' %}

{% block title %}Přidat stránku s mockupy - {{ manual.name }}{% endblock %}
{% set active_menu_item = 'manuals' %}

{% block breadcrumb %}
    <ol class="breadcrumb m-0 pt-0">
        <li class="breadcrumb-item"><i class="uil-home-alt"></i> <a href="{{ path('homepage') }}">Projekty</a></li>
        <li class="breadcrumb-item"><a href="{{ path('project_dashboard', {'id': project.id}) }}">{{ project.name }}</a></li>
        <li class="breadcrumb-item"><a href="{{ path('manuals_list', {'id': project.id}) }}">Manuály</a></li>
        <li class="breadcrumb-item"><a href="{{ path('manual_dashboard', {'id': manual.id}) }}">{{ manual.name }}</a></li>
        <li class="breadcrumb-item"><a href="{{ path('manual_mockup_pages', {'id': manual.id}) }}">Stránky s mockupy</a></li>
        <li class="breadcrumb-item active">Přidat stránku</li>
    </ol>
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-xxl-3">
            {{ include('_manual_nav.html.twig') }}
        </div>

        <div class="col-xxl-9">
            {% if selected_layout is null %}
                <h4 class="header-title">Vyberte layout stránky:</h4>

                <div class="row">
                    {% for layout in layouts %}
                        <div class="col-sm-6 col-md-4">
                            <a href="{{ path('add_manual_mockup_page', {'id': manual.id, 'mockupPageLayout': layout.value}) }}">
                                <div class="card">
                                    <div class="card-body">
                                        <img src="{{ asset('images/' ~ layout.value ~ '.svg') }}">
                                    </div>
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <div class="card">
                    <div class="card-body">
                    Vybrán: {{ selected_layout.name }}

                    {{ form_start(form) }}
                    {{ form_widget(form) }}
                    <button class="btn btn-primary" type="submit">Uložit</button>
                    {{ form_end(form) }}
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
