{% extends 'base.html.twig' %}

{% block title %}Nový projekt{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb m-0 pt-0">
        <li class="breadcrumb-item"><a href="{{ path('homepage') }}">Manuály</a></li>
        <li class="breadcrumb-item"><a href="{{ path('homepage') }}">Projekty</a></li>
        <li class="breadcrumb-item active">{{ block('title') }}</li>
    </ol>
{% endblock %}

{% block content %}
    <p>
        <a href="{{ path('homepage') }}">Zpět</a>
    </p>

    {{ form_start(add_project_form) }}
    {{ form_row(add_project_form.name) }}

    <p>
        <input type="submit" name="submit" value="Vytvořit" class="btn btn-primary">
    </p>

    {{ form_end(add_project_form) }}
{% endblock %}
