<!DOCTYPE html>
<html lang="{{ app.request.locale }}" data-turbo="false">
    <head>
        <meta charset="UTF-8">
        <title>{% apply spaceless %}{% block title %}{% endblock %}{% endapply %} | WBoost</title>

        {% block meta_viewport %}
            <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        {% endblock %}

        <meta name="turbo-prefetch" content="false">
        <meta name="turbo-refresh-method" content="morph">

        <meta name="description" content="{% apply spaceless %}{% block meta_description %}{% endblock %}{% endapply %}">
        <meta name="keywords" content="{% apply spaceless %}{% block meta_keywords %}{% endblock %}{% endapply %}">

        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="theme-color" content="#ffffff">

        <link rel="apple-touch-icon" sizes="57x57" href="{{ asset('apple-icon-57x57.png') }}">
        <link rel="apple-touch-icon" sizes="60x60" href="{{ asset('apple-icon-60x60.png') }}">
        <link rel="apple-touch-icon" sizes="72x72" href="{{ asset('apple-icon-72x72.png') }}">
        <link rel="apple-touch-icon" sizes="76x76" href="{{ asset('apple-icon-76x76.png') }}">
        <link rel="apple-touch-icon" sizes="114x114" href="{{ asset('apple-icon-114x114.png') }}">
        <link rel="apple-touch-icon" sizes="120x120" href="{{ asset('apple-icon-120x120.png') }}">
        <link rel="apple-touch-icon" sizes="144x144" href="{{ asset('apple-icon-144x144.png') }}">
        <link rel="apple-touch-icon" sizes="152x152" href="{{ asset('apple-icon-152x152.png') }}">
        <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('apple-icon-180x180.png') }}">
        <link rel="icon" type="image/png" sizes="192x192"  href="{{ asset('android-icon-192x192.png') }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('favicon-32x32.png') }}">
        <link rel="icon" type="image/png" sizes="96x96" href="{{ asset('favicon-96x96.png') }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('favicon-16x16.png') }}">
        <link rel="manifest" href="{{ asset('manifest.json') }}">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="{{ asset('ms-icon-144x144.png') }}">
        <meta name="theme-color" content="#ffffff">

        <link rel="shortcut icon" type="image/x-icon" href="{{ asset('favicon.ico') }}">

        <link type="text/plain" rel="author" href="{{ asset('humans.txt') }}">

        {% block importmap %}
            {{ importmap('app') }}
        {% endblock %}


        <!-- Theme Config Js -->
        <script src="{{ asset('theme/js/hyper-config.js') }}"></script>

        <!-- App css -->
        <link href="{{ asset('theme/css/app-saas.min.css') }}" rel="stylesheet" type="text/css" id="app-style" />

        <!-- Icons css -->
        <link href="{{ asset('theme/css/icons.min.css') }}" rel="stylesheet" type="text/css" />

        {% block custom_styles %}{% endblock %}
    </head>
    <body class="{% block body_class %}{% endblock %}" data-controller="confirm-modal">
    {% block full_content %}
        <!-- Begin page -->
        <div class="wrapper">

            <!-- ========== Topbar Start ========== -->
            <div class="navbar-custom">
                <div class="topbar container-fluid">
                    <div class="d-flex align-items-center gap-lg-2 gap-1">

                        <!-- Topbar Brand Logo -->
                        <div class="logo-topbar">
                            <!-- Logo light -->
                            <a href="{{ path('homepage') }}" class="logo-light">
                                <span class="logo-lg">
                                    <img src="{{ asset('images/logo-lg.svg') }}" alt="logo">
                                </span>
                                <span class="logo-sm">
                                    <img src="{{ asset('images/logo-icon.svg') }}" alt="small logo">
                                </span>
                            </a>

                            <!-- Logo Dark -->
                            <a href="{{ path('homepage') }}" class="logo-dark">
                                <span class="logo-lg">
                                    <img src="{{ asset('images/logo-lg.svg') }}" alt="dark logo">
                                </span>
                                <span class="logo-sm">
                                    <img src="{{ asset('images/logo-icon.svg') }}" alt="small logo">
                                </span>
                            </a>
                        </div>

                        <!-- Sidebar Menu Toggle Button -->
                        <button class="button-toggle-menu d-xl-none">
                            <i class="mdi mdi-menu"></i>
                        </button>
                    </div>

                    <ul class="topbar-menu d-flex align-items-center gap-3">
                        <li class="dropdown">
                            <a class="nav-link dropdown-toggle arrow-none nav-user px-2" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                                    <span class="account-user-avatar">
                                        <img src="{{ asset('theme/images/users/avatar-1.jpg') }}" alt="user-image" width="32" class="rounded-circle">
                                    </span>
                                <span class="d-lg-flex flex-column gap-1 d-none">
                                        <h5 class="my-0">{{ app.user.displayName }}</h5>
                                    </span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-end dropdown-menu-animated profile-dropdown">
                                <!-- item-->
                                <a href="{{ path('user_profile') }}" class="dropdown-item">
                                    <i class="mdi mdi-account-circle me-1"></i>
                                    <span>Můj účet</span>
                                </a>

                                <!-- item-->
                                <a href="{{ path('logout') }}" class="dropdown-item">
                                    <i class="mdi mdi-logout me-1"></i>
                                    <span>Odhlásit se</span>
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- ========== Topbar End ========== -->

            <!-- ========== Left Sidebar Start ========== -->
            <div class="leftside-menu">

                <!-- Brand Logo Light -->
                <a href="{{ path('homepage') }}" class="logo logo-light">
                    <span class="logo-lg">
                        <img src="{{ asset('images/logo-lg.svg') }}" alt="logo">
                    </span>
                    <span class="logo-sm">
                        <img src="{{ asset('images/logo-icon.svg') }}" alt="small logo">
                    </span>
                </a>

                <!-- Brand Logo Dark -->
                <a href="{{ path('homepage') }}" class="logo logo-dark">
                    <span class="logo-lg">
                        <img src="{{ asset('images/logo-lg.svg') }}" alt="dark logo">
                    </span>
                    <span class="logo-sm">
                        <img src="{{ asset('images/logo-icon.svg') }}" alt="small logo">
                    </span>
                </a>

                <!-- Sidebar Hover Menu Toggle Button -->
                <div class="button-sm-hover" data-bs-toggle="tooltip" data-bs-placement="right" title="Show Full Sidebar">
                    <i class="ri-checkbox-blank-circle-line align-middle"></i>
                </div>

                <!-- Full Sidebar Menu Close Button -->
                <div class="button-close-fullsidebar">
                    <i class="ri-close-fill align-middle"></i>
                </div>

                <!-- Sidebar -left -->
                <div class="h-100" id="leftside-menu-container" data-simplebar>
                    <!--- Sidemenu -->
                    <ul class="side-nav">
                        <li class="side-nav-item {{ active_menu_item|default == 'projects' ? 'menuitem-active' }}">
                            <a href="{{ path('projects') }}" class="side-nav-link">
                                <i class="uil-home-alt"></i>
                                <span> Projekty </span>
                            </a>
                        </li>

                        {% if project is defined %}
                            <li class="side-nav-title">{{ project.name }}</li>

                            <li class="side-nav-item {{ active_menu_item|default == 'manuals' ? 'menuitem-active' }}">
                                <a href="{{ path('manuals_list', {'id': project.id}) }}" class="side-nav-link">
                                    <i class="uil-copy-alt"></i>
                                    <span> Manuály </span>
                                </a>
                            </li>

                            <li class="side-nav-item {{ active_menu_item|default == 'social_networks' ? 'menuitem-active' }}">
                                <a href="{{ path('social_network_templates', {'projectId': project.id}) }}" class="side-nav-link">
                                    <i class="uil-facebook"></i>
                                    <span> Sociální sítě </span>
                                </a>
                            </li>

                            <li class="side-nav-item {{ active_menu_item|default == 'calendars' ? 'menuitem-active' }}">
                                <a href="#" class="side-nav-link">
                                    <i class="uil-calendar-alt"></i>
                                    <span> Kalendáře </span>
                                </a>
                            </li>

                            <li class="side-nav-item {{ active_menu_item|default == 'fonts' ? 'menuitem-active' }}">
                                <a href="{{ path('fonts_list', {'id': project.id}) }}" class="side-nav-link">
                                    <i class="ri-font-family"></i>
                                    <span> Fonty</span>
                                </a>
                            </li>

                            <li class="side-nav-item {{ active_menu_item|default == 'emails' ? 'menuitem-active' }}">
                                <a href="{{ path('email_signature_templates', {'id': project.id}) }}" class="side-nav-link">
                                    <i class="ri-mail-line"></i>
                                    <span> E-maily</span>
                                </a>
                            </li>

                            <li class="side-nav-item {{ active_menu_item|default == 'weekly_menus' ? 'menuitem-active' }}">
                                <a href="{{ path('weekly_menus', {'projectId': project.id}) }}" class="side-nav-link">
                                    <i class="uil-restaurant"></i>
                                    <span> Jídelníčky</span>
                                </a>
                                {% if active_menu_item|default == 'weekly_menus' %}
                                    <ul class="side-nav-second-level">
                                        <li class="{{ active_submenu_item|default == 'meals' ? 'active' : '' }}">
                                            <a href="{{ path('meals', {'projectId': project.id}) }}">Seznam jídel</a>
                                        </li>
                                        <li class="{{ active_submenu_item|default == 'diets' ? 'active' : '' }}">
                                            <a href="{{ path('diets', {'projectId': project.id}) }}">Diety</a>
                                        </li>
                                        <li class="{{ active_submenu_item|default == 'dish_types' ? 'active' : '' }}">
                                            <a href="{{ path('dish_types', {'projectId': project.id}) }}">Druhy jídel</a>
                                        </li>
                                    </ul>
                                {% endif %}
                            </li>
                        {% endif %}
                    </ul>
                    <!--- End Sidemenu -->

                    <div class="clearfix"></div>
                </div>
            </div>
            <!-- ========== Left Sidebar End ========== -->

            <!-- ============================================================== -->
            <!-- Start Page Content here -->
            <!-- ============================================================== -->

            <div class="content-page">
                <div class="content">

                    <!-- Start Content-->
                    <div class="container-fluid">

                        <!-- start page title -->
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="page-title-box">
                                    <h1 class="page-title">{{ block('title') }}</h1>
                                </div>
                            </div>
                            <div class="col-sm-6 pt-0 pt-sm-4">
                                {% block title_actions %}{% endblock %}
                            </div>
                        </div>
                        <!-- end page title -->

                        {% block breadcrumb %}{% endblock %}

                        {{ include('_flashes.html.twig') }}

                        {% block content %}{% endblock %}
                    </div>
                    <!-- container -->

                </div>
                <!-- content -->

            </div>

            <!-- ============================================================== -->
            <!-- End Page content -->
            <!-- ============================================================== -->

        </div>
        <!-- END wrapper -->
    {% endblock %}

    <!-- Vendor js -->
    <script src="{{ asset('theme/js/vendor.min.js') }}"></script>

    <!-- App js -->
    <script src="{{ asset('theme/js/app.min.js') }}"></script>

    </body>
</html>
