{% extends 'base_manual.html.twig' %}

{% block title %}Editace stránky s mockupy - {{ mockup_page.name }}{% endblock %}
{% set active_menu_item = 'manuals' %}

{% block breadcrumb %}
    <ol class="breadcrumb m-0 pt-0">
        <li class="breadcrumb-item"><i class="uil-home-alt"></i> <a href="{{ path('homepage') }}">Projekty</a></li>
        <li class="breadcrumb-item"><a href="{{ path('project_dashboard', {'id': project.id}) }}">{{ project.name }}</a></li>
        <li class="breadcrumb-item"><a href="{{ path('manuals_list', {'id': project.id}) }}">Manuály</a></li>
        <li class="breadcrumb-item"><a href="{{ path('manual_dashboard', {'id': manual.id}) }}">{{ manual.name }}</a></li>
        <li class="breadcrumb-item"><a href="{{ path('manual_mockup_pages', {'id': manual.id}) }}">Stránky s mockupy</a></li>
        <li class="breadcrumb-item active">Editace stránky</li>
    </ol>
{% endblock %}

{% block content %}

    {% set existing_images = [] %}
    {% for slot in mockup_page.layout.slots %}
        {% set image = mockup_page.images[loop.index0] ?? null %}
        {% set existing_images = existing_images|merge([image ? uploaded_asset(image) : null]) %}
    {% endfor %}

    <div class="row">
        <div class="col-xxl-3">
            {{ include('_manual_nav.html.twig') }}
        </div>

        <div class="col-xxl-9">
            {{ include('_mockup_page_form_editor.html.twig', {
                'form': form,
                'layouts_geometry': layouts_geometry,
                'fixed_layout': mockup_page.layout,
                'existing_images': existing_images,
                'submit_label': 'Uložit změny',
            }) }}
        </div>
    </div>
{% endblock %}
