{% extends 'base.html.twig' %}

{% block title %}Export - E-mail Patička{% endblock %}
{% set active_menu_item = 'emails' %}

{% block breadcrumb %}
    <ol class="breadcrumb m-0 pt-0">
        <li class="breadcrumb-item"><i class="uil-home-alt"></i> <a href="{{ path('homepage') }}">Projekty</a></li>
        <li class="breadcrumb-item"><a href="{{ path('project_dashboard', {'id': project.id}) }}">{{ project.name }}</a></li>
        <li class="breadcrumb-item"><a href="{{ path('emails_list', {'id': project.id}) }}">E-maily</a></li>
        <li class="breadcrumb-item active">{{ block('title') }}</li>
    </ol>
{% endblock %}

{% block content %}

    <div
        data-controller=""
    >
        <div class="row">

            <div class="col-2">

                <div class="card">
                    <div class="card-body">
                        <div id="text-inputs-container">

                            {% for input in inputs %}
                                <div class="mb-2">
                                    <label class="form-label small" for="text-input-{{ loop.index0 }}">
                                        {{ input.name }}
                                        {% if input.description %}
                                            <br><small class="text-muted">{{ input.description }}</small>
                                        {% endif %}
                                    </label>
                                    <input
                                        type="text"
                                        class="form-control form-control-sm"
                                        id="text-input-{{ loop.index0 }}"
                                        data-index="{{ loop.index0 }}"
                                        {% if input.maxLength %}maxlength="{{ input.maxLength }}"{% endif%}
                                    >
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-10">
                <h5>Náhled:</h5>

                <div class="card" style="max-width: 600px;">
                    <div class="card-body">
                        <strong>Ing. Petra Nováková</strong><br>
                        Odbor školství a kultury<br><br>

                        Tel.: +420 123 456 789<br>
                        E-mail: pnovakova@frydlantno.cz<br><br>

                        <strong>Město Frýdlant nad Ostravicí</strong><br>
                        Náměstí 3<br>
                        738 01 Frýdlant Nad Ostravicí

                        <img class="img-fluid mt-1" src="{{ asset('frydlant-email-footer.png') }}" alt="">
                    </div>
                </div>

                <h5>HTML kód:</h5>

                <div>
                    <textarea class="form-control font-monospace"><code></code></textarea>
                </div>

                <p class="mt-2">
                    <button class="btn btn-primary">Uložit</button>
                </p>
            </div>
        </div>
    </div>
{% endblock %}
