{% extends 'base.html.twig' %}

{% block title %}Fonty{% endblock %}
{% set active_menu_item = 'fonts' %}

{% block breadcrumb %}
    <ol class="breadcrumb m-0 pt-0">
        <li class="breadcrumb-item"><i class="uil-home-alt"></i> <a href="{{ path('homepage') }}">Projekty</a></li>
        <li class="breadcrumb-item"><a href="{{ path('project_dashboard', {'id': project.id}) }}">{{ project.name }}</a></li>
        <li class="breadcrumb-item active">{{ block('title') }}</li>
    </ol>
{% endblock %}

{% block content %}

    {% if is_granted('ROLE_DESIGNER') %}
        <div class="row mb-2">
            <div class="col-sm-12">
                <a href="{{ path('add_font', {'id': project.id}) }}" class="btn btn-outline-primary rounded-pill mb-3"><i class="mdi mdi-plus"></i> Přidat font</a>
            </div>
        </div>
    {% endif %}

    {% for font in fonts %}
        <div class="card">
            <div class="card-body">
                <strong>{{ font.name }}</strong><br>
                <p>
                    {% for font_face in font.faces %}
                        {{ font_face.name }}
                        {% if is_granted('font_edit', font) %}
                            <a href="{{ path('delete_font', {'fontId': font.id}) }}">Smazat</a>
                        {% endif %}
                        <br>
                    {% endfor %}
                </p>
            </div>
        </div>
    {% endfor %}

{% endblock %}
