{% extends 'base.html.twig' %}

{% block title %}Fonty{% endblock %}
{% set active_menu_item = 'fonts' %}

{% block breadcrumb %}
    <ol class="breadcrumb m-0 pt-0">
        <li class="breadcrumb-item"><i class="uil-home-alt"></i> <a href="{{ path('homepage') }}">Projekty</a></li>
        <li class="breadcrumb-item"><a href="{{ path('project_dashboard', {'id': project.id}) }}">{{ project.name }}</a></li>
        <li class="breadcrumb-item active">{{ block('title') }}</li>
    </ol>
{% endblock %}

{% block content %}

    {% if is_granted('ROLE_DESIGNER') %}
        <div class="row mb-2">
            <div class="col-sm-12">
                <a href="{{ path('add_font_face', {'id': project.id}) }}" class="btn btn-outline-primary rounded-pill mb-3"><i class="mdi mdi-plus"></i> Přidat font</a>
            </div>
        </div>
    {% endif %}

    <div class="row">
        {% for font in fonts %}
            <div class="col-sm-3">
                <div class="card">
                    {% if is_granted('font_edit', font) %}
                        <div class="card-img-overlay dropdown card-widgets" style="left: auto;bottom: auto;">
                            <a href="#" class="dropdown-toggle arrow-none" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="ri-more-fill"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-end">
                                <a href="#"
                                   class="dropdown-item"
                                   data-modal-id="{{ font.id }}"
                                   data-action="click->confirm-modal#showModal">
                                    <i class="mdi mdi-delete me-1"></i> Smazat
                                </a>
                            </div>
                        </div>

                        <twig:ConfirmModal
                            id="{{ font.id }}"
                            url="{{ path('delete_font', {'fontId': font.id}) }}"
                            confirmationText="Opravdu chcete smazat tento font včetně všech rezů?" />
                    {% endif %}

                    <div class="card-body"
                         data-controller="dragula"
                         data-dragula-sort-url-value="{{ path('sort_font_faces', {'fontId': font.id}) }}"
                         data-dragula-target="container"
                    >
                        <h4 class="mt-0">{{ font.name }}</h4>

                        {% for font_face in font.faces %}
                            <div class="mt-2 d-flex align-items-center justify-content-between" data-entity-id="{{ font_face.name }}">
                                <span>
                                    {{ font_face.name }}

                                    {% if is_granted('font_edit', font) %}
                                        <a href="#"
                                           class="btn btn-outline-danger ms-2 btn btn-sm px-1 py-0"
                                           data-modal-id="{{ font.id }}-{{ loop.index }}"
                                           data-action="click->confirm-modal#showModal"><i class="mdi mdi-delete"></i></a>

                                        <twig:ConfirmModal
                                            id="{{ font.id }}-{{ loop.index }}"
                                            url="{{ path('delete_font_face', {'fontId': font.id, 'fontFaceName': font_face.name}) }}"
                                            confirmationText="Opravdu chcete smazat tento řez fontu?" />
                                    {% endif %}
                                </span>

                                {% if is_granted('font_edit', font) %}
                                    <span class="dragula-handle me-2"></span>
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}
