{% extends 'base.html.twig' %}

{% block title %}Projekty{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb m-0 pt-0">
        <li class="breadcrumb-item"><i class="uil-copy-alt"></i> <a href="{{ path('homepage') }}">Manuály</a></li>
        <li class="breadcrumb-item active">{{ block('title') }}</li>
    </ol>
{% endblock %}

{% block content %}

    <div class="row mb-2">
        <div class="col-sm-12">
            <a href="{{ path('add_project') }}" class="btn btn-outline-primary rounded-pill mb-3"><i class="mdi mdi-plus"></i> Nový projekt</a>
        </div>
    </div>

    <div class="row">
        {% for project in projects %}
            <div class="col-md-6 col-xxl-3">
                <div class="card d-block">
                    <a href="{{ path('project_logos', {projectId: project.id.toString}) }}">
                        <img class="card-img-top" src="{{ project.introLogo ? uploaded_asset(project.introLogo) : asset('images/project-placeholder.png') }}" alt="{{ project.name }}">
                    </a>

                    <div class="card-img-overlay dropdown card-widgets" style="left: auto;bottom: auto;">
                        <a href="#" class="dropdown-toggle arrow-none" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="ri-more-fill"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end">
                            <a href="{{ path('project_manual', {projectId: project.id.toString}) }}" class="dropdown-item" target="_blank"><i class="ri-eye-fill me-1"></i>Zobrazit manuál</a>
                            <a href="{{ path('edit_project', {projectId: project.id.toString}) }}" class="dropdown-item"><i class="mdi mdi-pencil me-1"></i>Upravit</a>
                            <a href="{{ path('delete_project', {projectId: project.id.toString}) }}" class="dropdown-item"><i class="mdi mdi-delete me-1"></i>Smazat</a>
                        </div>
                    </div>

                    <a href="{{ path('project_logos', {projectId: project.id.toString}) }}" class="text-body">
                        <div class="card-body position-relative">
                            <h4 class="mt-0">
                                {{ project.name }}
                            </h4>

                            {% if project.colors %}
                                <div id="tooltip-container">
                                    {% for color in project.colors %}
                                        <span class="d-inline-block avatar-xs rounded-circle" style="background: {{ '#' ~ color.hex }};"></span>
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </div>
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
