{% extends 'base_manual.html.twig' %}

{% block title %}Barevná paleta - {{ manual.name }}{% endblock %}
{% set active_menu_item = 'manuals' %}

{% block breadcrumb %}
    <ol class="breadcrumb m-0 pt-0">
        <li class="breadcrumb-item"><i class="uil-home-alt"></i> <a href="{{ path('homepage') }}">Projekty</a></li>
        <li class="breadcrumb-item"><a href="{{ path('project_dashboard', {'id': project.id}) }}">{{ project.name }}</a></li>
        <li class="breadcrumb-item"><a href="{{ path('manuals_list', {'id': project.id}) }}">Manuály</a></li>
        <li class="breadcrumb-item"><a href="{{ path('manual_dashboard', {'id': manual.id}) }}">{{ manual.name }}</a></li>
        <li class="breadcrumb-item active">Barevná paleta</li>
    </ol>
{% endblock %}

{% block content %}

    {{ form_start(form) }}
    <div class="row">
        <div class="col-xxl-3">
            {{ include('_manual_nav.html.twig') }}
        </div>

        <div class="col-xxl-9">
            <div class="row">
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="header-title">Detekované barvy</h4>

                            {% for detectedColorForm in form.detectedColors %}
                                <div class="d-flex align-items-center">
                                    <span class="d-inline-block avatar-sm rounded-circle me-3 border" style="background: {{ '#' ~ detectedColorForm.color.vars.value }};"></span>
                                    {{ form_row(detectedColorForm) }}
                                    <span class="dragula-handle"></span>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="header-title">Vlastní barvy</h4>

                            <div data-controller="form-collection"
                                 data-form-collection-target="collection"
                                 data-prototype="{{ '<div class="form-group mb-3">' ~ form_widget(form.customColors.vars.prototype.order) ~ form_widget(form.customColors.vars.prototype.color) ~ form_widget(form.customColors.vars.prototype.type) ~ '<button type="button" class="btn btn-danger" data-action="form-collection#remove">Odstranit</button><span class="dragula-handle"></span></div>' }}">

                                {% for customColorForm in form.customColors %}
                                    <div class="form-group input-group mb-3">
                                        {{ form_widget(customColorForm) }}
                                        <button type="button" class="btn btn-danger" data-action="form-collection#remove">Odstranit</button>
                                        {{ form_errors(customColorForm) }}
                                    </div>
                                {% endfor %}

                                <button type="button" class="btn btn-primary" data-action="form-collection#add">Další vlastní barva</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <button class="btn btn-primary" type="submit">Uložit</button>
        </div>
    </div>

    {{ form_end(form) }}
{% endblock %}
