{% extends 'base_manual.html.twig' %}

{% block title %}Fonty - {{ manual.name }}{% endblock %}
{% set active_menu_item = 'manuals' %}

{% block breadcrumb %}
    <ol class="breadcrumb m-0 pt-0">
        <li class="breadcrumb-item"><i class="uil-home-alt"></i> <a href="{{ path('homepage') }}">Projekty</a></li>
        <li class="breadcrumb-item"><a href="{{ path('project_dashboard', {'id': project.id}) }}">{{ project.name }}</a></li>
        <li class="breadcrumb-item"><a href="{{ path('manuals_list', {'id': project.id}) }}">Manuály</a></li>
        <li class="breadcrumb-item"><a href="{{ path('manual_dashboard', {'id': manual.id}) }}">{{ manual.name }}</a></li>
        <li class="breadcrumb-item active">Fonty</li>
    </ol>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-xxl-3">
        {{ include('_manual_nav.html.twig') }}
    </div>

    <div class="col-xxl-9">

        <div class="row mb-2">
            <div class="col-sm-12">
                <a href="{{ path('add_manual_font', {'id': manual.id}) }}" class="btn btn-outline-primary rounded-pill mb-3"><i class="mdi mdi-plus"></i> Přidat font</a>
            </div>
        </div>

        <div class="row" data-controller="dragula"
             data-dragula-sort-url-value="{{ path('sort_manual_fonts', {'manualId': manual.id}) }}"
             data-dragula-direction-value="horizontal"
             data-dragula-target="container">
            {% for manual_font in fonts %}
                <div class="col-sm-6">
                    <div class="card" data-entity-id="{{ manual_font.id }}">
                        {% if is_granted('manual_font_edit', manual_font) %}
                            <div class="card-img-overlay dropdown card-widgets" style="left: auto;bottom: auto;">

                                <a href="#" class="dropdown-toggle arrow-none" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="ri-more-fill"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-end">
                                    <a href="{{ path('edit_manual_font', {'id': manual_font.id}) }}" class="dropdown-item"><i class="mdi mdi-pencil me-1"></i>Upravit</a>
                                    <a href="{{ path('delete_manual_font', {'id': manual_font.id}) }}" class="dropdown-item"><i class="mdi mdi-delete me-1"></i>Smazat</a>
                                </div>
                            </div>
                        {% endif %}

                        <div class="card-body">
                            <h4 class="mt-0 mb-0">
                                {% if is_granted('manual_font_edit', manual_font) %}
                                    <span class="dragula-handle position-absolute" style="left: 0;top: 20px;"></span>
                                {% endif %}

                                <span class="d-flex">
                                    <span class="ps-3 d-inline-block">{{ manual_font.font.name }} ({{ manual_font.primary ? 'Primární' }}{{ manual_font.secondary ? 'Sekundární' }})</span>
                                    <span class="ms-2 d-inline-block avatar-xs rounded-circle shadow-sm" style="margin-top: -2px;border: 1px solid rgba(0, 0, 0, .1);background: {{ '#' ~ (manual_font.color ?? '6c757d') }};"></span>
                                </span>
                            </h4>

                            <div class="mt-3" data-controller="manual-font-faces-toggle" data-manual-font-faces-toggle-url-value="{{ path('update_manual_font_faces', {'manualFontId': manual_font.id}) }}">
                                {% for font_face in manual_font.font.faces %}
                                    <p class="mb-0 mt-2 position-relative" style="line-height: 22px;">
                                        <input data-manual-font-faces-toggle-target="checkbox" type="checkbox" id="{{ manual_font.id }}font-switch-{{ loop.index }}" {% if manual_font.faceEnabled(font_face.name) %}checked{% endif %} data-switch="primary" value="{{ font_face.name }}">
                                        <label class="float-start me-2" for="{{ manual_font.id }}font-switch-{{ loop.index }}" data-on-label="On" data-off-label="Off"></label>

                                        {{ font_face.name }}
                                    </p>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

    </div>
</div>
{% endblock %}
