{% extends 'base_manual.html.twig' %}

{% block title %}Logotypy - {{ manual.name }}{% endblock %}
{% set active_menu_item = 'manuals' %}

{% block breadcrumb %}
    <ol class="breadcrumb m-0 pt-0">
        <li class="breadcrumb-item"><i class="uil-home-alt"></i> <a href="{{ path('homepage') }}">Projekty</a></li>
        <li class="breadcrumb-item"><a href="{{ path('project_dashboard', {'id': project.id}) }}">{{ project.name }}</a></li>
        <li class="breadcrumb-item"><a href="{{ path('manuals_list', {'id': project.id}) }}">Manuály</a></li>
        <li class="breadcrumb-item"><a href="{{ path('manual_dashboard', {'id': manual.id}) }}">{{ manual.name }}</a></li>
        <li class="breadcrumb-item active">Logotypy</li>
    </ol>
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-xxl-3">
            {{ include('_manual_nav.html.twig') }}
        </div>

        <div class="col-xxl-9">
            {{ form_start(form) }}

            <div class="row">
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-3">
                                    <img class="rounded-circle img-thumbnail avatar-lg" src="{{ manual.logo.horizontal ? uploaded_asset(manual.logo.horizontal) : asset('images/logo-placeholder.png') }}">
                                </div>
                                <div class="col-sm-9">
                                    {{ form_row(form.logoHorizontal) }}

                                    {% if manual.logo.horizontal %}
                                        {% for detectedColor in manual.logo.horizontal.detectedColors %}
                                            <span class="d-inline-block avatar-xs rounded-circle shadow-sm" style="border: 1px solid rgba(0, 0, 0, .1);background: {{ detectedColor }};"></span>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-3">
                                    <img class="rounded-circle img-thumbnail avatar-lg" src="{{ manual.logo.vertical ? uploaded_asset(manual.logo.vertical) : asset('images/logo-placeholder.png') }}">
                                </div>
                                <div class="col-sm-9">
                                    {{ form_row(form.logoVertical) }}

                                    {% if manual.logo.vertical %}
                                        {% for detectedColor in manual.logo.vertical.detectedColors %}
                                            <span class="d-inline-block avatar-xs rounded-circle shadow-sm" style="border: 1px solid rgba(0, 0, 0, .1);background: {{ detectedColor }};"></span>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-3">
                                    <img class="rounded-circle img-thumbnail avatar-lg" src="{{ manual.logo.horizontalWithClaim ? uploaded_asset(manual.logo.horizontalWithClaim) : asset('images/logo-placeholder.png') }}">
                                </div>
                                <div class="col-sm-9">
                                    {{ form_row(form.logoHorizontalWithClaim) }}

                                    {% if manual.logo.horizontalWithClaim %}
                                        {% for detectedColor in manual.logo.horizontalWithClaim.detectedColors %}
                                            <span class="d-inline-block avatar-xs rounded-circle shadow-sm" style="border: 1px solid rgba(0, 0, 0, .1);background: {{ detectedColor }};"></span>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-3">
                                    <img class="rounded-circle img-thumbnail avatar-lg" src="{{ manual.logo.verticalWithClaim ? uploaded_asset(manual.logo.verticalWithClaim) : asset('images/logo-placeholder.png') }}">
                                </div>
                                <div class="col-sm-9">
                                    {{ form_row(form.logoVerticalWithClaim) }}

                                    {% if manual.logo.verticalWithClaim %}
                                        {% for detectedColor in manual.logo.verticalWithClaim.detectedColors %}
                                            <span class="d-inline-block avatar-xs rounded-circle shadow-sm" style="border: 1px solid rgba(0, 0, 0, .1);background: {{ detectedColor }};"></span>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-3">
                                    <img class="rounded-circle img-thumbnail avatar-lg" src="{{ manual.logo.symbol ? uploaded_asset(manual.logo.symbol) : asset('images/logo-placeholder.png') }}">
                                </div>
                                <div class="col-sm-9">
                                    {{ form_row(form.logoSymbol) }}

                                    {% if manual.logo.symbol %}
                                        {% for detectedColor in manual.logo.symbol.detectedColors %}
                                            <span class="d-inline-block avatar-xs rounded-circle shadow-sm" style="border: 1px solid rgba(0, 0, 0, .1);background: {{ detectedColor }};"></span>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <p>
                <button class="btn btn-primary" type="submit">Uložit</button>
            </p>

            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
