{% extends 'base_manual.html.twig' %}

{% block title %}Stránky s mockupy - {{ manual.name }}{% endblock %}
{% set active_menu_item = 'manuals' %}

{% block breadcrumb %}
    <ol class="breadcrumb m-0 pt-0">
        <li class="breadcrumb-item"><i class="uil-home-alt"></i> <a href="{{ path('homepage') }}">Projekty</a></li>
        <li class="breadcrumb-item"><a href="{{ path('project_dashboard', {'id': project.id}) }}">{{ project.name }}</a></li>
        <li class="breadcrumb-item"><a href="{{ path('manuals_list', {'id': project.id}) }}">Manuály</a></li>
        <li class="breadcrumb-item"><a href="{{ path('manual_dashboard', {'id': manual.id}) }}">{{ manual.name }}</a></li>
        <li class="breadcrumb-item active">Stránky s mockupy</li>
    </ol>
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-xxl-3">
            {{ include('_manual_nav.html.twig') }}
        </div>

        <div class="col-xxl-9">
            <div class="row mb-2">
                <div class="col-sm-12">
                    <a href="{{ path('add_manual_mockup_page', {'id': manual.id}) }}" class="btn btn-outline-primary rounded-pill mb-3"><i class="mdi mdi-plus"></i> Přidat stránku</a>
                </div>
            </div>

            <div class="row" data-controller="mockup-pages-dragula"
                 data-mockup-pages-dragula-sort-url-value="{{ path('sort_manual_mockup_pages', {'manualId': manual.id}) }}"
                 data-mockup-pages-dragula-target="container">
                {% for page in pages %}
                    <div class="col-sm-6 col-md-4" data-entity-id="{{ page.id }}">
                        <div class="card">
                            <div class="card-body">
                                <span class="dragula-handle"></span>
                                <img class="mb-2 w-100" src="{{ asset('images/' ~ page.layout.value ~ '.svg') }}">
                                {{ page.name }} /
                                <a href="{{ path('edit_manual_mockup_page', {'id': page.id}) }}">Upravit</a> /
                                <a href="{{ path('delete_manual_mockup_page', {'id': page.id}) }}">Smazat</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
