{% extends 'base_manual.html.twig' %}

{% block title %}Barevná paleta - {{ manual.name }}{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb m-0 pt-0">
        <li class="breadcrumb-item"><i class="uil-home-alt"></i> <a href="{{ path('homepage') }}">Projekty</a></li>
        <li class="breadcrumb-item"><a href="{{ path('project_dashboard', {'id': project.id}) }}">{{ project.name }}</a></li>
        <li class="breadcrumb-item"><a href="{{ path('manuals_list', {'id': project.id}) }}">Manuály</a></li>
        <li class="breadcrumb-item"><a href="{{ path('manual_dashboard', {'id': manual.id}) }}">{{ manual.name }}</a></li>
        <li class="breadcrumb-item active">Barevná paleta</li>
    </ol>
{% endblock %}

{% block content %}

    {{ form_start(form) }}
    <div class="row">
        <div class="col-xxl-3">
            {{ include('_manual_nav.html.twig') }}
        </div>

        <div class="col-xxl-4">
            <div class="card">
                <div class="card-body">
                    <h4 class="header-title">Primární barvy</h4>

                    <div class="d-flex align-items-center">
                        <span class="d-inline-block avatar-sm rounded-circle me-3 border" style="background: {{ '#' ~ manual.color1 }};"></span>
                        {{ form_row(form.c1) }}
                    </div>

                    <div class="d-flex align-items-center">
                        <span class="d-inline-block avatar-sm rounded-circle me-3 border" style="background: {{ '#' ~ manual.color2 }};"></span>
                        {{ form_row(form.c2) }}
                    </div>

                    <div class="d-flex align-items-center">
                        <span class="d-inline-block avatar-sm rounded-circle me-3 border" style="background: {{ '#' ~ manual.color3 }};"></span>
                        {{ form_row(form.c3) }}
                    </div>

                    <div class="d-flex align-items-center">
                        <span class="d-inline-block avatar-sm rounded-circle me-3 border" style="background: {{ '#' ~ manual.color4 }};"></span>
                        {{ form_row(form.c4) }}
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <h4 class="header-title">Sekundární barvy</h4>

                    <div data-controller="form-collection"
                         data-form-collection-target="collection"
                         data-prototype="{{ '<div class="form-group input-group mb-3">' ~ form_widget(form.secondaryColors.vars.prototype) ~ '<button type="button" class="btn btn-danger" data-action="form-collection#remove">Odstranit</button></div>' }}">

                        {% for colorForm in form.secondaryColors %}
                            <div class="form-group input-group mb-3">
                                {{ form_widget(colorForm) }}
                                <button type="button" class="btn btn-danger" data-action="form-collection#remove">Odstranit</button>
                            </div>
                        {% endfor %}

                        <button type="button" class="btn btn-primary" data-action="form-collection#add">Přidat sekundární barvu</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xxl-5">
            {% if manual.colors %}
                {% for color in manual.colors %}
                    <div class="card">
                        <div class="card-body d-flex align-items-center">
                            <span class="d-inline-block avatar-sm rounded-circle border me-3" style="background: {{ '#' ~ color.hex }};"></span>
                            <div>
                                <span class="d-block fs-4 fw-bold">Barva {{ loop.index }}</span>
                                <span class="d-inline-block text-muted pe-3"><span class="fw-bold">HEX:</span> {{ '#' ~ color.hex|upper }}</span>
                                <span class="d-inline-block text-muted pe-3"><span class="fw-bold">RGB:</span> ({{ color.rgb|join(', ') }})</span>
                                <span class="d-inline-block text-muted pe-3"><span class="fw-bold">CMYK:</span> {{ color.cmyk|join('-') }}</span>
                                </span>
                                <span class="d-inline-block pe-3 mt-2">
                                    <select class="form-select" name="color_mapping_form[mapping][{{ color.hex }}]">
                                        <option value="">-</option>
                                        <option {{ manual.mappedColorTarget(color.hex) == 'C1' ? 'selected' }}>C1</option>
                                        <option {{ manual.mappedColorTarget(color.hex) == 'C2' ? 'selected' }}>C2</option>
                                        <option {{ manual.mappedColorTarget(color.hex) == 'C3' ? 'selected' }}>C3</option>
                                        <option {{ manual.mappedColorTarget(color.hex) == 'C4' ? 'selected' }}>C4</option>
                                    </select>
                                </span>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}

            <button class="btn btn-primary" type="submit">Uložit</button>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}
