{% extends 'base.html.twig' %}

{% block title %}Manuály{% endblock %}
{% set active_menu_item = 'manuals' %}

{% block breadcrumb %}
    <ol class="breadcrumb m-0 pt-0">
        <li class="breadcrumb-item"><i class="uil-home-alt"></i> <a href="{{ path('homepage') }}">Projekty</a></li>
        <li class="breadcrumb-item"><a href="{{ path('project_dashboard', {'id': project.id}) }}">{{ project.name }}</a></li>
        <li class="breadcrumb-item active">{{ block('title') }}</li>
    </ol>
{% endblock %}

{% block content %}

    {% if is_granted('ROLE_DESIGNER') %}
        <div class="row mb-2">
            <div class="col-sm-12">
                <a href="{{ path('add_manual', {'id': project.id.toString}) }}" class="btn btn-outline-primary rounded-pill mb-3"><i class="mdi mdi-plus"></i> Nový manuál</a>
            </div>
        </div>
    {% endif %}

    <div class="row">
        {% for manual in manuals %}
            <div class="col-md-6 col-xxl-3">

                <div class="card">
                    {% if is_granted('manual_edit', manual) %}
                        <div class="card-img-overlay dropdown card-widgets" style="left: auto;bottom: auto;">
                            <a href="#" class="dropdown-toggle arrow-none" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="ri-more-fill"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-end">
                                <a href="{{ path('manual_preview', {'projectSlug': manual.project.slug, 'manualSlug': manual.slug}) }}" class="dropdown-item" target="_blank"><i class="ri-eye-fill me-1"></i>Zobrazit manuál</a>
                                <a href="{{ path('edit_manual', {'id': manual.id}) }}" class="dropdown-item"><i class="mdi mdi-pencil me-1"></i>Upravit</a>
                                <a href="#"
                                   class="dropdown-item"
                                   data-modal-id="{{ manual.id }}"
                                   data-action="click->confirm-modal#showModal">
                                    <i class="mdi mdi-delete me-1"></i> Smazat
                                </a>
                            </div>
                        </div>

                        <twig:ConfirmModal
                            id="{{ manual.id }}"
                            url="{{ path('delete_manual', {'id': manual.id}) }}"
                            confirmationText="Opravdu chcete smazat tento manuál včetně všech náležitostí?" />
                    {% endif %}

                    <a href="{{ is_granted('manual_edit', manual) ? path('manual_dashboard', {'id': manual.id}) : path('manual_preview', {'projectSlug': manual.project.slug, 'manualSlug': manual.slug}) }}" class="text-body">
                        <div class="card-body pb-0">
                            <h4 class="mt-0">
                                {{ manual.name }}
                                <br><small>{{ manual.brandManual ? 'Brand manuál' : 'Logo manuál' }}</small>
                            </h4>

                            {% if manual.detectedColors %}
                                <div id="tooltip-container">
                                    {% for detectedColor in manual.detectedColors %}
                                        <span class="d-inline-block avatar-xs rounded-circle shadow-sm" style="border: 1px solid rgba(0, 0, 0, .1);background: {{ '#' ~ detectedColor.color.hex }};"></span>
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </div>

                        <img class="p-2 card-img-bottom" src="{{ manual.logo.introImage ? uploaded_asset(manual.logo.introImage.filePath) : asset('images/manual-placeholder.png') }}" alt="{{ manual.name }}">
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
