{% extends 'base.html.twig' %}

{% block title %}{{ manual.name }}{% endblock %}

{% block full_content %}
    <div class="row g-0">
        <div class="col-md-1 bg-dark d-none d-md-block">
            <nav id="manual-navbar" class="h-100 flex-column align-items-stretch border-end text-center">
                <nav class="nav nav-pills flex-column">
                    {% for page in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10] %}
                        <a class="nav-link rounded-0 py-3" href="#page-{{ page }}">Page {{ "%02d"|format(page) }}</a>
                    {% endfor %}
                </nav>
            </nav>
        </div>

        <div class="col-md-11">
            <div data-bs-spy="scroll" data-bs-target="#manual-navbar" data-bs-offset="0" class="manual-scrollspy">
                <div class="container">
                    {% for page in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10] %}
                        <div class="manual-page border-bottom border-2" id="page-{{ page }}">
                            <div class="page-heading py-3 border-bottom">
                                <span class="d-inline-block pe-4 fs-4">{{ "%02d"|format(page) }}</span>
                                <span class="d-inline-block pe-4 fs-4">{{ manual.name }}</span>
                                <span class="d-inline-block pe-4 fs-4 fw-bold">Základní logotyp</span>
                                <span class="d-inline-block float-end fs-4">Logo manuál</span>
                            </div>

                            <div class="page-content py-4 gx-5 row">
                                <div class="page-description col-3 fs-4">
                                    Dle konkrétní aplikace je možné zvolit horizontální nebo vertikální variantu loga, případně samostatný symbol. Variantu loga je nutné zvolit tak, aby byla zajištěna maximální výraznost a čitelnost loga. Primární je vždy horizontální verze.
                                </div>
                                <div class="page-designs col-9">
                                    {% if manual.logoHorizontal %}
                                        <div class="border border-2 p-4 rounded-4 mb-4">
                                            <img src="{{ manual.logoHorizontal ? uploaded_asset(manual.logoHorizontal) }}">
                                        </div>
                                    {% endif %}

                                    {% if manual.logoSymbol %}
                                        <div class="row">
                                            <div class="col-6">
                                                <div class="border border-2 p-4 rounded-4">
                                                    <img src="{{ manual.logoSymbol ? uploaded_asset(manual.logoSymbol) }}">
                                                </div>
                                            </div>

                                            <div class="col-6">
                                                <div class="border border-2 p-4 rounded-4">
                                                    <img src="{{ manual.logoSymbol ? uploaded_asset(manual.logoSymbol) }}">
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}


