{% extends 'base_manual.html.twig' %}

{% block title %}Barevná paleta - {{ manual.name }}{% endblock %}
{% set active_menu_item = 'manuals' %}

{% block breadcrumb %}
    <ol class="breadcrumb m-0 pt-0">
        <li class="breadcrumb-item"><i class="uil-home-alt"></i> <a href="{{ path('homepage') }}">Projekty</a></li>
        <li class="breadcrumb-item"><a href="{{ path('project_dashboard', {'id': project.id}) }}">{{ project.name }}</a></li>
        <li class="breadcrumb-item"><a href="{{ path('manuals_list', {'id': project.id}) }}">Manuály</a></li>
        <li class="breadcrumb-item"><a href="{{ path('manual_dashboard', {'id': manual.id}) }}">{{ manual.name }}</a></li>
        <li class="breadcrumb-item active">Barevná paleta</li>
    </ol>
{% endblock %}

{% block content %}

    {{ form_start(form) }}
    <div class="row">
        <div class="col-xxl-3">
            {{ include('_manual_nav.html.twig') }}
        </div>

        <div class="col-xxl-9">
            <div class="row">
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body" data-controller="colors-dragula" data-colors-dragula-target="container">
                            <h4 class="header-title mb-3">Detekované barvy</h4>

                            {% for detectedColorForm in form.detectedColors %}
                                <div class="d-flex align-items-center justify-content-between mb-2" data-order-field-target>
                                    <span class="d-inline-block avatar-sm rounded-circle shadow-sm" style="border: 1px solid rgba(0, 0, 0, .1);background: {{ '#' ~ detectedColorForm.color.vars.value }};"></span>
                                    <div style="width: 100px;">
                                        <span class="text-muted">HEX</span><br>{{ detectedColorForm.color.vars.value|upper }}
                                    </div>

                                    <div class="form-floating">
                                        {{ form_widget(detectedColorForm.type) }}
                                        {{ form_label(detectedColorForm.type) }}
                                    </div>

                                    {{ form_widget(detectedColorForm.order) }}
                                    {{ form_widget(detectedColorForm.color) }}
                                    <span class="dragula-handle text-lighter"></span>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="header-title mb-3">Vlastní barvy</h4>

                            {% if manual.colorsCount < 3 %}<p class="text-danger"><i class="uil-exclamation-triangle"></i> Prosím přidejte vlastní barvu pro správné zobrazení v manuálu</p>{% endif %}

                            <div data-controller="colors-dragula form-collection"
                                 data-colors-dragula-target="container"
                                 data-form-collection-target="collection"
                                 data-prototype="{{ '<div class="form-group d-flex align-items-center justify-content-between mb-2" data-controller="custom-color" data-order-field-target><span class="d-inline-block avatar-sm rounded-circle shadow-sm" style="border: 1px solid rgba(0, 0, 0, .1);background: #ffffff;" data-custom-color-target="colorDisplay"></span>' ~ form_widget(form.customColors.vars.prototype.order) ~ '<div class="form-floating" style="width: 100px;">' ~ form_widget(form.customColors.vars.prototype.color, {'attr': {'data-custom-color-target': 'input', 'data-action': 'input->custom-color#updateColor'}}) ~ form_label(form.customColors.vars.prototype.color) ~ '</div><div class="form-floating">' ~ form_widget(form.customColors.vars.prototype.type) ~ form_label(form.customColors.vars.prototype.type) ~ '</div><button type="button" class="btn btn-danger" data-action="form-collection#remove"><i class="uil-trash-alt"></i></button><span class="dragula-handle text-lighter"></span></div>' }}">

                                {% for customColorForm in form.customColors %}
                                    <div class="form-group d-flex align-items-center justify-content-between mb-2" data-controller="custom-color" data-order-field-target>
                                        <span class="d-inline-block avatar-sm rounded-circle shadow-sm" style="border: 1px solid rgba(0, 0, 0, .1);background: {{ '#' ~ customColorForm.color.vars.value }};" data-custom-color-target="colorDisplay"></span>
                                        <div class="form-floating" style="width: 100px;">
                                            {{ form_widget(customColorForm.color, {'attr': {'data-custom-color-target': 'input', 'data-action': 'input->custom-color#updateColor'}}) }}
                                            {{ form_label(customColorForm.color) }}
                                        </div>
                                        <div class="form-floating">
                                            {{ form_widget(customColorForm.type) }}
                                            {{ form_label(customColorForm.type) }}
                                        </div>
                                        {{ form_widget(customColorForm.order) }}
                                        <button type="button" class="btn btn-danger" data-action="form-collection#remove"><i class="uil-trash-alt"></i></button>
                                        <span class="dragula-handle text-lighter"></span>
                                    </div>
                                {% endfor %}

                                <button type="button" class="btn btn-outline-primary mt-2" data-action="form-collection#add"><i class="uil uil-plus"></i> Přidat barvu</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <button class="btn btn-primary" type="submit">Uložit</button>
        </div>
    </div>

    {{ form_end(form) }}
{% endblock %}
