{% extends 'base.html.twig' %}

{% block title %}{{ manual.name }}{% endblock %}
{% set active_menu_item = 'manuals' %}

{% block custom_styles %}
    <style>
        {% for font in manual.fonts %}
            {% for font_face in font.faces %}
                @font-face {
                    font-family: '{{ font.name }} ({{ font_face.name }})';
                    src: url('{{ uploaded_asset(font_face.filePath) }}');
                }
            {% endfor %}
        {% endfor %}
    </style>
{% endblock %}

{% block full_content %}
    <div class="row g-0">
        <div class="col-md-1 bg-dark d-none d-md-block">
            <nav id="manual-navbar" class="h-100 flex-column align-items-stretch border-end text-center">
                <nav class="nav nav-pills flex-column">
                    {% set page = 0 %}

                    {% if manual.introImage %}
                        {% set page = page+1 %}
                        <a class="nav-link rounded-0 py-3" data-turbo="false" href="#page-{{ page }}">Page {{ "%02d"|format(page) }}</a>
                    {% endif %}

                    {% if manual.logo.horizontal or manual.logo.vertical or manual.logo.symbol %}
                        {% set page = page+1 %}
                        <a class="nav-link rounded-0 py-3" data-turbo="false" href="#page-{{ page }}">Page {{ "%02d"|format(page) }}</a>
                    {% endif %}

                    {% if manual.logo.horizontalWithClaim or manual.logo.verticalWithClaim %}
                        {% set page = page+1 %}
                        <a class="nav-link rounded-0 py-3" data-turbo="false" href="#page-{{ page }}">Page {{ "%02d"|format(page) }}</a>
                    {% endif %}

                    {% if manual.logo.horizontal or manual.logo.horizontalWithClaim %}
                        {% set page = page+1 %}
                        <a class="nav-link rounded-0 py-3" data-turbo="false" href="#page-{{ page }}">Page {{ "%02d"|format(page) }}</a>
                    {% endif %}

                    {% if manual.logo.vertical or manual.logo.verticalWithClaim %}
                        {% set page = page+1 %}
                        <a class="nav-link rounded-0 py-3" data-turbo="false" href="#page-{{ page }}">Page {{ "%02d"|format(page) }}</a>
                    {% endif %}

                    {% if manual.logo.horizontal or manual.logo.horizontalWithClaim %}
                        {% set page = page+1 %}
                        <a class="nav-link rounded-0 py-3" data-turbo="false" href="#page-{{ page }}">Page {{ "%02d"|format(page) }}</a>
                    {% endif %}

                    {% if manual.logo.vertical or manual.logo.verticalWithClaim %}
                        {% set page = page+1 %}
                        <a class="nav-link rounded-0 py-3" data-turbo="false" href="#page-{{ page }}">Page {{ "%02d"|format(page) }}</a>
                    {% endif %}

                    {% if manual.logo.symbol %}
                        {% set page = page+1 %}
                        <a class="nav-link rounded-0 py-3" data-turbo="false" href="#page-{{ page }}">Page {{ "%02d"|format(page) }}</a>
                    {% endif %}

                    {% if manual.logo.horizontal or manual.logo.vertical or manual.logo.symbol %}
                        {% set page = page+1 %}
                        <a class="nav-link rounded-0 py-3" data-turbo="false" href="#page-{{ page }}">Page {{ "%02d"|format(page) }}</a>
                    {% endif %}

                    {% if manual.primaryColor(2) or manual.primaryColor(3) or manual.primaryColor(4) %}
                        {% set page = page+1 %}
                        <a class="nav-link rounded-0 py-3" data-turbo="false" href="#page-{{ page }}">Page {{ "%02d"|format(page) }}</a>
                    {% endif %}

                    {% if manual.secondaryColors %}
                        {% set page = page+1 %}
                        <a class="nav-link rounded-0 py-3" data-turbo="false" href="#page-{{ page }}">Page {{ "%02d"|format(page) }}</a>
                    {% endif %}

                    {% if manual.primaryFont %}
                        {% set page = page+1 %}
                        <a class="nav-link rounded-0 py-3" data-turbo="false" href="#page-{{ page }}">Page {{ "%02d"|format(page) }}</a>
                    {% endif %}

                    {% if manual.secondaryFont %}
                        {% set page = page+1 %}
                        <a class="nav-link rounded-0 py-3" data-turbo="false" href="#page-{{ page }}">Page {{ "%02d"|format(page) }}</a>
                    {% endif %}

                    {% for mockup_page in manual.pages %}
                        {% set page = page+1 %}
                        <a class="nav-link rounded-0 py-3" data-turbo="false" href="#page-{{ page }}">Page {{ "%02d"|format(page) }}</a>
                    {% endfor %}
                </nav>
            </nav>
        </div>

        <div class="col-md-11">
            <div data-bs-spy="scroll" data-bs-target="#manual-navbar" data-bs-offset="0" class="manual-scrollspy">
                <div class="container">
                    {% set page = 0 %}

                    {% if manual.introImage %}
                        {% set page = page+1 %}
                        <div class="manual-page border-bottom border-2" id="page-{{ page }}">
                            <div class="page-heading py-3 border-bottom">
                                <span class="d-inline-block pe-4 fs-4">{{ "%02d"|format(page) }}</span>
                                <span class="d-inline-block pe-4 fs-4">{{ manual.name }}</span>
                                <span class="d-inline-block pe-4 fs-4 fw-bold">Úvod</span>
                                <span class="d-inline-block float-end fs-4">{{ manual.brandManual ? 'Brand manuál' : 'Logo manuál' }}</span>
                            </div>

                            <div class="page-content py-4 gx-5 row">
                                <div class="page-description col-12 text-center">
                                    <img src="{{ uploaded_asset(manual.introImage) }}" style="max-width: 100%;" alt="Úvod">
                                </div>
                            </div>
                        </div>
                    {% endif %}

                    {% if manual.logo.horizontal or manual.logo.vertical or manual.logo.symbol %}
                        {% set page = page+1 %}
                        <div class="manual-page border-bottom border-2" id="page-{{ page }}">
                            <div class="page-heading py-3 border-bottom">
                                <span class="d-inline-block pe-4 fs-4">{{ "%02d"|format(page) }}</span>
                                <span class="d-inline-block pe-4 fs-4">{{ manual.name }}</span>
                                <span class="d-inline-block pe-4 fs-4 fw-bold">Základní logotypy</span>
                                <span class="d-inline-block float-end fs-4">{{ manual.brandManual ? 'Brand manuál' : 'Logo manuál' }}</span>
                            </div>

                            <div class="page-content py-4 gx-5 row">
                                <div class="page-description col-3 fs-5 fst-italic">
                                    Dle konkrétní aplikace je možné zvolit horizontální nebo vertikální variantu loga, případně samostatný symbol. Variantu loga je nutné zvolit tak, aby byla zajištěna maximální výraznost a čitelnost loga.
                                </div>
                                <div class="page-designs col-9">
                                    {% if manual.logo.horizontal %}
                                        {% set colorsMapping = {} %}

                                        <div class="border border-1 p-5 rounded-4 mb-4" style="background: {{ '#' ~ manual.primaryColor(1) }}">
                                            <img src="{{ remap_svg_colors(manual.logo.horizontal, manual, colorsMapping) }}">
                                        </div>
                                    {% endif %}

                                    {% if manual.logo.vertical or manual.logo.symbol %}
                                        <div class="row">
                                            {% if manual.logo.vertical %}
                                                <div class="col-6">
                                                    <div class="border border-1 p-5 rounded-4" style="background: {{ '#' ~ manual.primaryColor(1) }}">
                                                        <img src="{{ remap_svg_colors(manual.logo.vertical, manual, colorsMapping) }}">
                                                    </div>
                                                </div>
                                            {% endif %}

                                            {% if manual.logo.symbol %}
                                                <div class="col-6">
                                                    <div class="border border-1 p-5 rounded-4" style="background: {{ '#' ~ manual.primaryColor(1) }}">
                                                        <img src="{{ remap_svg_colors(manual.logo.symbol, manual, colorsMapping) }}">
                                                    </div>
                                                </div>
                                            {% endif %}
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endif %}

                    {% if manual.logo.horizontalWithClaim or manual.logo.verticalWithClaim %}
                        {% set page = page+1 %}
                        <div class="manual-page border-bottom border-2" id="page-{{ page }}">
                            <div class="page-heading py-3 border-bottom">
                                <span class="d-inline-block pe-4 fs-4">{{ "%02d"|format(page) }}</span>
                                <span class="d-inline-block pe-4 fs-4">{{ manual.name }}</span>
                                <span class="d-inline-block pe-4 fs-4 fw-bold">Základní logotypy se sloganem</span>
                                <span class="d-inline-block float-end fs-4">{{ manual.brandManual ? 'Brand manuál' : 'Logo manuál' }}</span>
                            </div>

                            <div class="page-content py-4 gx-5 row">
                                <div class="page-description col-3 fs-5 fst-italic">
                                    Logotyp lze použít také ve variantě se sloganem (claimem), a to v horizontální nebo vertikální variantě, dle maximální výraznosti a čitelnosti logotypu.
                                </div>
                                <div class="page-designs col-9">
                                    {% if manual.logo.horizontalWithClaim %}
                                        {% set colorsMapping = {} %}

                                        <div class="border border-1 p-5 rounded-4 mb-4" style="background: {{ '#' ~ manual.primaryColor(1) }}">
                                            <img src="{{ remap_svg_colors(manual.logo.horizontalWithClaim, manual, colorsMapping) }}">
                                        </div>
                                    {% endif %}

                                    {% if manual.logo.verticalWithClaim %}
                                        <div class="row">
                                            <div class="col-6">
                                                <div class="border border-1 p-5 rounded-4" style="background: {{ '#' ~ manual.primaryColor(1) }}">
                                                    <img src="{{ remap_svg_colors(manual.logo.verticalWithClaim, manual, colorsMapping) }}">
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endif %}

                    {% if manual.logo.horizontal or manual.logo.horizontalWithClaim %}
                        {% set page = page+1 %}

                        <div class="manual-page border-bottom border-2" id="page-{{ page }}">
                            <div class="page-heading py-3 border-bottom">
                                <span class="d-inline-block pe-4 fs-4">{{ "%02d"|format(page) }}</span>
                                <span class="d-inline-block pe-4 fs-4">{{ manual.name }}</span>
                                <span class="d-inline-block pe-4 fs-4 fw-bold">Horizontální logotyp - barevné pozadí</span>
                                <span class="d-inline-block float-end fs-4">{{ manual.brandManual ? 'Brand manuál' : 'Logo manuál' }}</span>
                            </div>

                            <div class="page-content py-4 gx-5 row">
                                <div class="page-description col-3 fs-5 fst-italic">
                                    Ukázka použití horizontálního logotypu na jiném než bílém pozadí. V každém případě je nutné aby logotyp na zvoleném pozadí měl správný kontrast (nezanikala žádná část s barevným podkladem).
                                </div>
                                <div class="page-designs col-9">

                                    <div class="row">
                                        <div class="col-sm-6">
                                            {% set colorsMapping = {1: 2, 2: 1} %}
                                            <div class="border border-1 p-5 rounded-4 mb-4" style="background: {{ '#' ~ manual.primaryColor(2) }}">
                                                <img src="{{ remap_svg_colors(manual.logo.horizontal, manual, colorsMapping) }}">
                                            </div>

                                            {% set colorsMapping = {1: 3, 3: 1} %}
                                            <div class="border border-1 p-5 rounded-4 mb-4" style="background: {{ '#' ~ manual.primaryColor(3) }}">
                                                <img src="{{ remap_svg_colors(manual.logo.horizontal, manual, colorsMapping) }}">
                                            </div>

                                            {# {% set colorsMapping = {1: 4, 3: 1, 2: 1} %} #}
                                            {% set colorsMapping = {1: 4, 3: 4, 2: 1} %}
                                            <div class="border border-1 p-5 rounded-4" style="background: {{ '#' ~ manual.primaryColor(4) }}">
                                                <img src="{{ remap_svg_colors(manual.logo.horizontal, manual, colorsMapping) }}">
                                            </div>
                                        </div>

                                        <div class="col-sm-6">
                                            {# {% set colorsMapping = {4: 3, 2: 1} %} #}
                                            {% set colorsMapping = {2: 1} %}
                                            <div class="border border-1 p-5 rounded-4 mb-4" style="background: {{ '#' ~ manual.primaryColor(2) }}">
                                                <img src="{{ remap_svg_colors(manual.logo.horizontalWithClaim, manual, colorsMapping) }}">
                                            </div>

                                            {% set colorsMapping = {1: 3, 3: 1, 4: 1} %}
                                            <div class="border border-1 p-5 rounded-4 mb-4" style="background: {{ '#' ~ manual.primaryColor(3) }}">
                                                <img src="{{ remap_svg_colors(manual.logo.horizontalWithClaim, manual, colorsMapping) }}">
                                            </div>

                                            {# {% set colorsMapping = {1: 4, 3: 1, 2: 1, 4: 1} %} #}
                                            {% set colorsMapping = {1: 4, 3: 4, 2: 1, 4: 1} %}
                                            <div class="border border-1 p-5 rounded-4" style="background: {{ '#' ~ manual.primaryColor(4) }}">
                                                <img src="{{ remap_svg_colors(manual.logo.horizontalWithClaim, manual, colorsMapping) }}">
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    {% endif %}

                    {% if manual.logo.vertical or manual.logo.verticalWithClaim %}
                        {% set page = page+1 %}

                        <div class="manual-page border-bottom border-2" id="page-{{ page }}">
                            <div class="page-heading py-3 border-bottom">
                                <span class="d-inline-block pe-4 fs-4">{{ "%02d"|format(page) }}</span>
                                <span class="d-inline-block pe-4 fs-4">{{ manual.name }}</span>
                                <span class="d-inline-block pe-4 fs-4 fw-bold">Vertikální logotyp - barevné pozadí</span>
                                <span class="d-inline-block float-end fs-4">{{ manual.brandManual ? 'Brand manuál' : 'Logo manuál' }}</span>
                            </div>

                            <div class="page-content py-4 gx-5 row">
                                <div class="page-description col-3 fs-5 fst-italic">
                                    Ukázka použití vertikálního logotypu na jiném než bílém pozadí. V každém případě je nutné aby logotyp na zvoleném pozadí měl správný kontrast (nezanikala žádná jeho část s barevným podkladem).
                                </div>
                                <div class="page-designs col-9">

                                    <div class="row">
                                        <div class="col-sm-6">
                                            {% set colorsMapping = {1: 2, 2: 1} %}
                                            <div class="border border-1 p-5 rounded-4 mb-4" style="background: {{ '#' ~ manual.primaryColor(2) }}">
                                                <img src="{{ remap_svg_colors(manual.logo.vertical, manual, colorsMapping) }}">
                                            </div>

                                            {% set colorsMapping = {1: 3, 3: 1} %}
                                            <div class="border border-1 p-5 rounded-4 mb-4" style="background: {{ '#' ~ manual.primaryColor(3) }}">
                                                <img src="{{ remap_svg_colors(manual.logo.vertical, manual, colorsMapping) }}">
                                            </div>

                                            {% set colorsMapping = {1: 4, 3: 1, 2: 1} %}
                                            <div class="border border-1 p-5 rounded-4" style="background: {{ '#' ~ manual.primaryColor(4) }}">
                                                <img src="{{ remap_svg_colors(manual.logo.vertical, manual, colorsMapping) }}">
                                            </div>
                                        </div>

                                        <div class="col-sm-6">
                                            {% set colorsMapping = {4: 3, 2: 1} %}
                                            <div class="border border-1 p-5 rounded-4 mb-4" style="background: {{ '#' ~ manual.primaryColor(2) }}">
                                                <img src="{{ remap_svg_colors(manual.logo.verticalWithClaim, manual, colorsMapping) }}">
                                            </div>

                                            {% set colorsMapping = {1: 3, 3: 1, 4: 1} %}
                                            <div class="border border-1 p-5 rounded-4 mb-4" style="background: {{ '#' ~ manual.primaryColor(3) }}">
                                                <img src="{{ remap_svg_colors(manual.logo.verticalWithClaim, manual, colorsMapping) }}">
                                            </div>

                                            {% set colorsMapping = {1: 4, 3: 1, 2: 1, 4: 1} %}
                                            <div class="border border-1 p-5 rounded-4" style="background: {{ '#' ~ manual.primaryColor(4) }}">
                                                <img src="{{ remap_svg_colors(manual.logo.verticalWithClaim, manual, colorsMapping) }}">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}

                    {% if manual.logo.horizontal or manual.logo.horizontalWithClaim %}
                        {% set page = page+1 %}

                        <div class="manual-page border-bottom border-2" id="page-{{ page }}">
                            <div class="page-heading py-3 border-bottom">
                                <span class="d-inline-block pe-4 fs-4">{{ "%02d"|format(page) }}</span>
                                <span class="d-inline-block pe-4 fs-4">{{ manual.name }}</span>
                                <span class="d-inline-block pe-4 fs-4 fw-bold">Horizontální logotyp - Černobílé použití</span>
                                <span class="d-inline-block float-end fs-4">{{ manual.brandManual ? 'Brand manuál' : 'Logo manuál' }}</span>
                            </div>

                            <div class="page-content py-4 gx-5 row">
                                <div class="page-description col-3 fs-5 fst-italic">
                                    <p>Černobílá varianta loga je určena pro použití v situacích, kde nelze aplikovat plnobarevnou verzi loga, například na tiskovinách, kde je omezená barevná paleta, nebo na propagačních materiálech, které vyžadují jednobarevné zpracování.</p>
                                    <p><strong>Pozitivní verze (černé logo na bílém podkladu):</strong> Tato verze se používá na světlém podkladu, kde černá barva loga vynikne a zaručí maximální čitelnost.</p>
                                    <p><strong>Negativní verze (bílé logo na černém podkladu):</strong> Tato verze je určena pro použití na tmavém podkladu, kde bílá barva loga kontrastuje s pozadím a zachovává viditelnost a čitelnost loga.</p>
                                </div>
                                <div class="page-designs col-9">

                                    <div class="row">
                                        {% if manual.logo.horizontal %}
                                            {% set colorsMapping = {2: '#000000', 3: '#FFFFFF', 4: '#000000'} %}
                                            <div class="col-6">
                                                <div class="border border-1 p-5 rounded-4 mb-4" style="background: {{ '#' ~ manual.primaryColor(1) }}">
                                                    <img src="{{ remap_svg_colors(manual.logo.horizontal, manual, colorsMapping) }}">
                                                </div>
                                            </div>
                                        {% endif %}

                                        {% if manual.logo.horizontalWithClaim %}
                                            {% set colorsMapping = {2: '#000000', 3: '#FFFFFF', 4: '#000000'} %}
                                            <div class="col-6">
                                                <div class="border border-1 p-5 rounded-4" style="background: #ffffff">
                                                    <img src="{{ remap_svg_colors(manual.logo.horizontalWithClaim, manual, colorsMapping) }}">
                                                </div>
                                            </div>
                                        {% endif %}

                                        {% if manual.logo.horizontal %}
                                            {% set colorsMapping = {2: '#ffffff', 3: '#000000', 4: '#ffffff'} %}
                                            <div class="col-6">
                                                <div class="border border-1 p-5 rounded-4 mb-4" style="background: #000000">
                                                    <img src="{{ remap_svg_colors(manual.logo.horizontal, manual, colorsMapping) }}">
                                                </div>
                                            </div>
                                        {% endif %}

                                        {% if manual.logo.horizontalWithClaim %}
                                            {% set colorsMapping = {2: '#ffffff', 3: '#000000', 4: '#ffffff'} %}
                                            <div class="col-6">
                                                <div class="border border-1 p-5 rounded-4" style="background: #000000">
                                                    <img src="{{ remap_svg_colors(manual.logo.horizontalWithClaim, manual, colorsMapping) }}">
                                                </div>
                                            </div>
                                        {% endif %}
                                    </div>

                                </div>
                            </div>
                        </div>
                    {% endif %}

                    {% if manual.logo.vertical or manual.logo.verticalWithClaim %}
                        {% set page = page+1 %}

                        <div class="manual-page border-bottom border-2" id="page-{{ page }}">
                            <div class="page-heading py-3 border-bottom">
                                <span class="d-inline-block pe-4 fs-4">{{ "%02d"|format(page) }}</span>
                                <span class="d-inline-block pe-4 fs-4">{{ manual.name }}</span>
                                <span class="d-inline-block pe-4 fs-4 fw-bold">Vertikální logotyp - Černobílé použití</span>
                                <span class="d-inline-block float-end fs-4">{{ manual.brandManual ? 'Brand manuál' : 'Logo manuál' }}</span>
                            </div>

                            <div class="page-content py-4 gx-5 row">
                                <div class="page-description col-3 fs-5 fst-italic">
                                    <p>Černobílá varianta loga je určena pro použití v situacích, kde nelze aplikovat plnobarevnou verzi loga, například na tiskovinách, kde je omezená barevná paleta, nebo na propagačních materiálech, které vyžadují jednobarevné zpracování.</p>
                                    <p><strong>Pozitivní verze (černé logo na bílém podkladu):</strong> Tato verze se používá na světlém podkladu, kde černá barva loga vynikne a zaručí maximální čitelnost.</p>
                                    <p><strong>Negativní verze (bílé logo na černém podkladu):</strong> Tato verze je určena pro použití na tmavém podkladu, kde bílá barva loga kontrastuje s pozadím a zachovává viditelnost a čitelnost loga.</p>
                                </div>
                                <div class="page-designs col-9">

                                    {% set colorsMapping = {2: '#000000', 3: '#000000', 4: '#000000'} %}

                                    <div class="row">
                                        {% if manual.logo.vertical %}
                                            <div class="col-6">
                                                <div class="border border-1 p-5 rounded-4 mb-4" style="background: {{ '#' ~ manual.primaryColor(1) }}">
                                                    <img src="{{ remap_svg_colors(manual.logo.vertical, manual, colorsMapping) }}">
                                                </div>
                                            </div>
                                        {% endif %}

                                        {% if manual.logo.vertical %}
                                            {% set colorsMapping = {2: '#ffffff', 3: '#ffffff', 4: '#ffffff'} %}

                                            <div class="col-6">
                                                <div class="border border-1 p-5 rounded-4 mb-4" style="background: #000000">
                                                    <img src="{{ remap_svg_colors(manual.logo.vertical, manual, colorsMapping) }}">
                                                </div>
                                            </div>
                                        {% endif %}


                                        {% if manual.logo.verticalWithClaim %}
                                            {% set colorsMapping = {2: '#000000', 3: '#000000', 4: '#000000'} %}
                                            <div class="col-6">
                                                <div class="border border-1 p-5 rounded-4" style="background: #ffffff">
                                                    <img src="{{ remap_svg_colors(manual.logo.verticalWithClaim, manual, colorsMapping) }}">
                                                </div>
                                            </div>
                                        {% endif %}

                                        {% if manual.logo.verticalWithClaim %}
                                            {% set colorsMapping = {2: '#ffffff', 3: '#ffffff', 4: '#ffffff'} %}
                                            <div class="col-6">
                                                <div class="border border-1 p-5 rounded-4" style="background: #000000">
                                                    <img src="{{ remap_svg_colors(manual.logo.verticalWithClaim, manual, colorsMapping) }}">
                                                </div>
                                            </div>
                                        {% endif %}
                                    </div>

                                </div>
                            </div>
                        </div>
                    {% endif %}

                    {% if manual.logo.symbol %}
                        {% set page = page+1 %}

                        <div class="manual-page border-bottom border-2" id="page-{{ page }}">
                            <div class="page-heading py-3 border-bottom">
                                <span class="d-inline-block pe-4 fs-4">{{ "%02d"|format(page) }}</span>
                                <span class="d-inline-block pe-4 fs-4">{{ manual.name }}</span>
                                <span class="d-inline-block pe-4 fs-4 fw-bold">Symbol</span>
                                <span class="d-inline-block float-end fs-4">{{ manual.brandManual ? 'Brand manuál' : 'Logo manuál' }}</span>
                            </div>

                            <div class="page-content pt-4 row">
                                <div class="page-description col-3 pe-4 fs-5 fst-italic">
                                    Symbol lze použít samostatně v případech, kdy je značka již dobře zavedená a rozpoznatelná, například na propagačních předmětech (vhodný pro použití v malých formátech, kde by plné logo mohlo být nečitelné), aplikacích, profilech na sociálních sítích nebo jako ikona aplikace.
                                </div>
                                <div class="page-designs col-8 offset-1">
                                    <div class="row">
                                        {% set colorsMapping = {} %}
                                        <div class="col-6">
                                            <div class="border border-1 p-5 rounded-4 mb-4" style="background: {{ '#' ~ manual.primaryColor(1) }}">
                                                <img src="{{ remap_svg_colors(manual.logo.symbol, manual, colorsMapping) }}">
                                            </div>
                                        </div>

                                        {% set colorsMapping = {2: 1} %}
                                        <div class="col-6">
                                            <div class="border border-1 p-5 rounded-4 mb-4" style="background: {{ '#' ~ manual.primaryColor(2) }}">
                                                <img src="{{ remap_svg_colors(manual.logo.symbol, manual, colorsMapping) }}">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                {% set colorsMapping = {1: 3, 3: 1} %}
                                <div class="col-4">
                                    <div class="border border-1 p-5 rounded-4 mb-4" style="background: {{ '#' ~ manual.primaryColor(3) }}">
                                        <img src="{{ remap_svg_colors(manual.logo.symbol, manual, colorsMapping) }}">
                                    </div>
                                </div>

                                {% set colorsMapping = {2: '#000000', 3: '#ffffff', 4: '#000000'} %}
                                <div class="col-4">
                                    <div class="border border-1 p-5 rounded-4" style="background: #ffffff">
                                        <img src="{{ remap_svg_colors(manual.logo.symbol, manual, colorsMapping) }}">
                                    </div>
                                </div>

                                {% set colorsMapping = {2: '#ffffff', 3: '#000000', 4: '#ffffff'} %}
                                <div class="col-4">
                                    <div class="border border-1 p-5 rounded-4" style="background: #000000">
                                        <img src="{{ remap_svg_colors(manual.logo.symbol, manual, colorsMapping) }}">
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}

                    {% if manual.logo.horizontal or manual.logo.vertical or manual.logo.symbol %}
                        {% set page = page+1 %}

                        <div class="manual-page border-bottom border-2" id="page-{{ page }}">
                            <div class="page-heading py-3 border-bottom">
                                <span class="d-inline-block pe-4 fs-4">{{ "%02d"|format(page) }}</span>
                                <span class="d-inline-block pe-4 fs-4">{{ manual.name }}</span>
                                <span class="d-inline-block pe-4 fs-4 fw-bold">Základní logotypy</span>
                                <span class="d-inline-block float-end fs-4">{{ manual.brandManual ? 'Brand manuál' : 'Logo manuál' }}</span>
                            </div>

                            <div class="page-content py-4 gx-5 row">
                                <div class="page-description col-3 fs-5 fst-italic">
                                    Ochranná zóna logotypu je prostor kolem loga, který musí zůstat volný, bez jakýchkoli grafických prvků, textů nebo jiných vizuálních elementů. Tato zóna je určena k zajištění toho, že logo bude vždy dobře čitelné a vizuálně výrazné, a že nebude rušeno okolními prvky
                                </div>
                                <div class="page-designs col-9">

                                    {% set colorsMapping = {} %}

                                    <div class="row">
                                        {% if manual.logo.horizontal %}
                                            <div class="col-12">
                                                <div class="border border-1 p-5 rounded-4 mb-4 bg-dark-lighten">
                                                    <div class="p-5" style="background: {{ '#' ~ manual.primaryColor(1) }}">
                                                        <img src="{{ remap_svg_colors(manual.logo.horizontal, manual, colorsMapping) }}">
                                                    </div>
                                                </div>
                                            </div>
                                        {% endif %}

                                        {% if manual.logo.vertical %}
                                            <div class="col-6">
                                                <div class="border border-1 p-5 rounded-4 mb-4 bg-dark-lighten">
                                                    <div class="p-5" style="background: {{ '#' ~ manual.primaryColor(1) }}">
                                                        <img src="{{ remap_svg_colors(manual.logo.vertical, manual, colorsMapping) }}" style="background: {{ '#' ~ manual.primaryColor(1) }}">
                                                    </div>
                                                </div>
                                            </div>
                                        {% endif %}

                                        {% if manual.logo.symbol %}
                                            <div class="col-6">
                                                <div class="border border-1 p-5 rounded-4 mb-4 bg-dark-lighten">
                                                    <div class="p-5" style="background: {{ '#' ~ manual.primaryColor(1) }}">
                                                        <img src="{{ remap_svg_colors(manual.logo.symbol, manual, colorsMapping) }}" style="background: {{ '#' ~ manual.primaryColor(1) }}">
                                                    </div>
                                                </div>
                                            </div>
                                        {% endif %}
                                    </div>

                                </div>
                            </div>
                        </div>
                    {% endif %}

                    {% if manual.primaryColor(2) or manual.primaryColor(3) or manual.primaryColor(4) %}
                        {% set page = page+1 %}

                        <div class="manual-page border-bottom border-2" id="page-{{ page }}">
                            <div class="page-heading py-3 border-bottom">
                                <span class="d-inline-block pe-4 fs-4">{{ "%02d"|format(page) }}</span>
                                <span class="d-inline-block pe-4 fs-4">{{ manual.name }}</span>
                                <span class="d-inline-block pe-4 fs-4 fw-bold">Primární barevná paleta</span>
                                <span class="d-inline-block float-end fs-4">{{ manual.brandManual ? 'Brand manuál' : 'Logo manuál' }}</span>
                            </div>

                            <div class="page-content py-4 gx-5 row">
                                <div class="page-description col-3 fs-5 fst-italic">
                                    Barevná paleta značky je klíčovým prvkem vizuální identity, který zajišťuje konzistentní a rozpoznatelné vystupování značky napříč všemi médii a komunikačními kanály.
                                </div>
                                <div class="page-designs col-9">
                                    <div class="row">
                                        {% for colorIndex in [2, 3, 4] %}
                                            {% if manual.primaryColor(colorIndex) %}
                                                <div class="col">
                                                    <div class="manual-preview-color rounded-4" style="background: {{ '#' ~ manual.primaryColor(colorIndex) }};">
                                                        <strong>HEX:</strong> {{ manual.primaryColor(colorIndex) }}
                                                    </div>
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}

                    {% if manual.secondaryColors %}
                        {% set page = page+1 %}

                        <div class="manual-page border-bottom border-2" id="page-{{ page }}">
                            <div class="page-heading py-3 border-bottom">
                                <span class="d-inline-block pe-4 fs-4">{{ "%02d"|format(page) }}</span>
                                <span class="d-inline-block pe-4 fs-4">{{ manual.name }}</span>
                                <span class="d-inline-block pe-4 fs-4 fw-bold">Sekundární barevná paleta</span>
                                <span class="d-inline-block float-end fs-4">{{ manual.brandManual ? 'Brand manuál' : 'Logo manuál' }}</span>
                            </div>

                            <div class="page-content py-4 gx-5 row">
                                <div class="page-description col-3 fs-5 fst-italic">
                                    Sekundární barvy doplňují primární paletu a jsou určeny k použití ve vedlejších grafických prvcích, ikonách, tlačítkách a dalších podpůrných elementech. Jejich cílem je rozšířit barevný rozsah značky a umožnit flexibilnější aplikace, aniž by byla narušena vizuální soudržnost.
                                </div>
                                <div class="page-designs col-9">
                                    <div class="row">
                                        {% for secondary_color in manual.secondaryColors %}
                                            <div class="col">
                                                <div class="manual-preview-color rounded-4" style="background: {{ '#' ~ secondary_color }};">
                                                    <strong>HEX:</strong> {{ secondary_color }}
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}

                    {% if manual.primaryFont %}
                        {% set page = page+1 %}

                        <div class="manual-page border-bottom border-2" id="page-{{ page }}">
                            <div class="page-heading py-3 border-bottom">
                                <span class="d-inline-block pe-4 fs-4">{{ "%02d"|format(page) }}</span>
                                <span class="d-inline-block pe-4 fs-4">{{ manual.name }}</span>
                                <span class="d-inline-block pe-4 fs-4 fw-bold">Primární písmo</span>
                                <span class="d-inline-block float-end fs-4">{{ manual.brandManual ? 'Brand manuál' : 'Logo manuál' }}</span>
                            </div>

                            <div class="page-content py-4 gx-5 row">
                                <div class="page-description col-6 fs-5 fst-italic">
                                    Je základním písmem vizuální identity značky a hraje klíčovou roli při vytváření konzistentního a profesionálního vzhledu napříč všemi komunikačními materiály. Pokud písmo obsahuje další řezy (např. Light, Medium, Semi-Bold), lze je použít pro specifické účely, vždy však v souladu s celkovou vizuální identitou značky.
                                </div>
                            </div>

                            <div class="row mt-1 gx-5 gy-5">
                                {% for font_face in manual.primaryFont.faces %}
                                    <div class="col-4 manual-font" style="font-family: '{{ manual.primaryFont.name }} ({{ font_face.name }})', sans-serif;font-size: 16px;color: {{ '#' ~ manual.primaryColor(2) }}">
                                        {{ font_face.name }}<br>
                                        <span style="display: inline-block;font-size: 82px;">Aa</span><br>
                                        aábcčdeéěfghiíjklmnopqrřsštuúůvwxyýzžaábcčdeéěfghiíjklmnopqrřsštuúůvwxyýzž1234567890?!&*
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}

                    {% if manual.secondaryFont %}
                        {% set page = page+1 %}

                        <div class="manual-page border-bottom border-2" id="page-{{ page }}">
                            <div class="page-heading py-3 border-bottom">
                                <span class="d-inline-block pe-4 fs-4">{{ "%02d"|format(page) }}</span>
                                <span class="d-inline-block pe-4 fs-4">{{ manual.name }}</span>
                                <span class="d-inline-block pe-4 fs-4 fw-bold">Sekundární písmo</span>
                                <span class="d-inline-block float-end fs-4">{{ manual.brandManual ? 'Brand manuál' : 'Logo manuál' }}</span>
                            </div>

                            <div class="page-content py-4 gx-5 row">
                                <div class="page-description col-6 fs-5 fst-italic">
                                    Je základním písmem vizuální identity značky a hraje klíčovou roli při vytváření konzistentního a profesionálního vzhledu napříč všemi komunikačními materiály. Pokud písmo obsahuje další řezy (např. Light, Medium, Semi-Bold), lze je použít pro specifické účely, vždy však v souladu s celkovou vizuální identitou značky.
                                </div>
                            </div>

                            <div class="row mt-1 gx-5 gy-5">
                                {% for font_face in manual.secondaryFont.faces %}
                                    <div class="col-4 manual-font" style="font-family: '{{ manual.secondaryFont.name }} ({{ font_face.name }})', sans-serif;font-size: 16px;color: {{ '#' ~ manual.primaryColor(2) }}">
                                        {{ font_face.name }}<br>
                                        <span style="display: inline-block;font-size: 82px;">Aa</span><br>
                                        aábcčdeéěfghiíjklmnopqrřsštuúůvwxyýzžaábcčdeéěfghiíjklmnopqrřsštuúůvwxyýzž1234567890?!&*
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}

                    {% for mockup_page in manual.pages %}
                        {% set page = page+1 %}

                        <div class="manual-page border-bottom border-2" id="page-{{ page }}">
                            <div class="page-heading py-3 border-bottom">
                                <span class="d-inline-block pe-4 fs-4">{{ "%02d"|format(page) }}</span>
                                <span class="d-inline-block pe-4 fs-4">{{ manual.name }}</span>
                                <span class="d-inline-block pe-4 fs-4 fw-bold">{{ mockup_page.name }}</span>
                                <span class="d-inline-block float-end fs-4">{{ manual.brandManual ? 'Brand manuál' : 'Logo manuál' }}</span>
                            </div>

                            <div class="page-content py-4 gx-5 row">
                                <div class="page-designs col-12">

                                    <div class="row g-3">
                                        {% if mockup_page.layout.value == 'layout-1' %}
                                            <div class="col-4">
                                                {% if mockup_page.images[0] %}
                                                    <img src="{{ uploaded_asset(mockup_page.images[0]) }}" style="max-width: 100%;max-height: 400px;">
                                                {% endif %}
                                            </div>
                                            <div class="col-8">
                                                {% if mockup_page.images[1] %}
                                                    <img src="{{ uploaded_asset(mockup_page.images[1]) }}" style="max-width: 100%;max-height: 400px;">
                                                {% endif %}
                                            </div>
                                            <div class="col-8">
                                                {% if mockup_page.images[2] %}
                                                    <img src="{{ uploaded_asset(mockup_page.images[2]) }}" style="max-width: 100%;max-height: 400px;">
                                                {% endif %}
                                            </div>
                                            <div class="col-4">
                                                {% if mockup_page.images[3] %}
                                                    <img src="{{ uploaded_asset(mockup_page.images[3]) }}" style="max-width: 100%;max-height: 400px;">
                                                {% endif %}
                                            </div>
                                        {% elseif mockup_page.layout.value == 'layout-2'  %}
                                            <div class="col-4">
                                                {% if mockup_page.images[0] %}
                                                    <img src="{{ uploaded_asset(mockup_page.images[0]) }}" style="max-width: 100%;max-height: 800px;">
                                                {% endif %}
                                            </div>
                                            <div class="col-8">
                                                <div class="row gx-0 gy-3">
                                                    <div class="col-12">
                                                        {% if mockup_page.images[1] %}
                                                            <img src="{{ uploaded_asset(mockup_page.images[1]) }}" style="max-width: 100%;max-height: 400px;">
                                                        {% endif %}
                                                    </div>
                                                    <div class="col-12">
                                                        {% if mockup_page.images[2] %}
                                                            <img src="{{ uploaded_asset(mockup_page.images[2]) }}" style="max-width: 100%;max-height: 400px;">
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </div>
                                        {% elseif mockup_page.layout.value == 'layout-3'  %}
                                            <div class="col-4">
                                                {% if mockup_page.images[0] %}
                                                    <img src="{{ uploaded_asset(mockup_page.images[0]) }}" style="max-width: 100%;max-height: 800px;">
                                                {% endif %}
                                            </div>
                                            <div class="col-4">
                                                {% if mockup_page.images[1] %}
                                                    <img src="{{ uploaded_asset(mockup_page.images[1]) }}" style="max-width: 100%;max-height: 800px;">
                                                {% endif %}
                                            </div>
                                            <div class="col-4">
                                                {% if mockup_page.images[2] %}
                                                    <img src="{{ uploaded_asset(mockup_page.images[2]) }}" style="max-width: 100%;max-height: 800px;">
                                                {% endif %}
                                            </div>
                                        {% elseif mockup_page.layout.value == 'layout-4'  %}
                                            <div class="col-4">
                                                {% if mockup_page.images[0] %}
                                                    <img src="{{ uploaded_asset(mockup_page.images[0]) }}" style="max-width: 100%;max-height: 800px;">
                                                {% endif %}
                                            </div>
                                            <div class="col-8">
                                                <div class="row gx-3 gy-3">
                                                    <div class="col-6">
                                                        {% if mockup_page.images[1] %}
                                                            <img src="{{ uploaded_asset(mockup_page.images[1]) }}" style="max-width: 100%;max-height: 400px;">
                                                        {% endif %}
                                                    </div>
                                                    <div class="col-6">
                                                        {% if mockup_page.images[2] %}
                                                            <img src="{{ uploaded_asset(mockup_page.images[2]) }}" style="max-width: 100%;max-height: 400px;">
                                                        {% endif %}
                                                    </div>
                                                    <div class="col-6">
                                                        {% if mockup_page.images[3] %}
                                                            <img src="{{ uploaded_asset(mockup_page.images[3]) }}" style="max-width: 100%;max-height: 400px;">
                                                        {% endif %}
                                                    </div>
                                                    <div class="col-6">
                                                        {% if mockup_page.images[4] %}
                                                            <img src="{{ uploaded_asset(mockup_page.images[4]) }}" style="max-width: 100%;max-height: 400px;">
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </div>
                                        {% elseif mockup_page.layout.value == 'layout-5'  %}
                                            <div class="col-4">
                                                {% if mockup_page.images[0] %}
                                                    <img src="{{ uploaded_asset(mockup_page.images[0]) }}" style="max-width: 100%;max-height: 800px;">
                                                {% endif %}
                                            </div>
                                            <div class="col-8">
                                                <div class="row gx-3 gy-3">
                                                    <div class="col-6">
                                                        {% if mockup_page.images[1] %}
                                                            <img src="{{ uploaded_asset(mockup_page.images[1]) }}" style="max-width: 100%;max-height: 400px;">
                                                        {% endif %}
                                                    </div>
                                                    <div class="col-6">
                                                        {% if mockup_page.images[2] %}
                                                            <img src="{{ uploaded_asset(mockup_page.images[2]) }}" style="max-width: 100%;max-height: 400px;">
                                                        {% endif %}
                                                    </div>
                                                    <div class="col-12">
                                                        {% if mockup_page.images[3] %}
                                                            <img src="{{ uploaded_asset(mockup_page.images[3]) }}" style="max-width: 100%;max-height: 400px;">
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </div>
                                        {% elseif mockup_page.layout.value == 'layout-6'  %}
                                            <div class="col-4">
                                                {% if mockup_page.images[0] %}
                                                    <img src="{{ uploaded_asset(mockup_page.images[0]) }}" style="max-width: 100%;max-height: 400px;">
                                                {% endif %}
                                            </div>
                                            <div class="col-4">
                                                {% if mockup_page.images[1] %}
                                                    <img src="{{ uploaded_asset(mockup_page.images[1]) }}" style="max-width: 100%;max-height: 400px;">
                                                {% endif %}
                                            </div>
                                            <div class="col-4">
                                                {% if mockup_page.images[2] %}
                                                    <img src="{{ uploaded_asset(mockup_page.images[2]) }}" style="max-width: 100%;max-height: 400px;">
                                                {% endif %}
                                            </div>
                                            <div class="col-4">
                                                {% if mockup_page.images[3] %}
                                                    <img src="{{ uploaded_asset(mockup_page.images[3]) }}" style="max-width: 100%;max-height: 400px;">
                                                {% endif %}
                                            </div>
                                            <div class="col-4">
                                                {% if mockup_page.images[4] %}
                                                    <img src="{{ uploaded_asset(mockup_page.images[4]) }}" style="max-width: 100%;max-height: 400px;">
                                                {% endif %}
                                            </div>
                                            <div class="col-4">
                                                {% if mockup_page.images[5] %}
                                                    <img src="{{ uploaded_asset(mockup_page.images[5]) }}" style="max-width: 100%;max-height: 400px;">
                                                {% endif %}
                                            </div>
                                        {% elseif mockup_page.layout.value == 'layout-7'  %}
                                            <div class="col-12">
                                                {% if mockup_page.images[0] %}
                                                    <img src="{{ uploaded_asset(mockup_page.images[0]) }}" style="max-width: 100%;max-height: 800px;">
                                                {% endif %}
                                            </div>
                                        {% elseif mockup_page.layout.value == 'layout-8'  %}
                                            <div class="col-4">
                                                {% if mockup_page.images[0] %}
                                                    <img src="{{ uploaded_asset(mockup_page.images[0]) }}" style="max-width: 100%;max-height: 800px;">
                                                {% endif %}
                                            </div>
                                            <div class="col-8">
                                                {% if mockup_page.images[1] %}
                                                    <img src="{{ uploaded_asset(mockup_page.images[1]) }}" style="max-width: 100%;max-height: 800px;">
                                                {% endif %}
                                            </div>
                                        {% elseif mockup_page.layout.value == 'layout-9'  %}
                                            <div class="col-8">
                                                {% if mockup_page.images[0] %}
                                                    <img src="{{ uploaded_asset(mockup_page.images[0]) }}" style="max-width: 100%;max-height: 800px;">
                                                {% endif %}
                                            </div>
                                            <div class="col-4">
                                                {% if mockup_page.images[1] %}
                                                    <img src="{{ uploaded_asset(mockup_page.images[1]) }}" style="max-width: 100%;max-height: 800px;">
                                                {% endif %}
                                            </div>
                                        {% elseif mockup_page.layout.value == 'layout-10'  %}
                                            <div class="col-8">
                                                {% if mockup_page.images[0] %}
                                                    <img src="{{ uploaded_asset(mockup_page.images[0]) }}" style="max-width: 100%;max-height: 800px;">
                                                {% endif %}
                                            </div>
                                            <div class="col-4">
                                                <div class="row gx-0 gy-3">
                                                    <div class="col-12">
                                                        {% if mockup_page.images[1] %}
                                                            <img src="{{ uploaded_asset(mockup_page.images[1]) }}" style="max-width: 100%;max-height: 400px;">
                                                        {% endif %}
                                                    </div>
                                                    <div class="col-12">
                                                        {% if mockup_page.images[2] %}
                                                            <img src="{{ uploaded_asset(mockup_page.images[1]) }}" style="max-width: 100%;max-height: 400px;">
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </div>
                                        {% elseif mockup_page.layout.value == 'layout-11'  %}
                                            <div class="col-4">
                                                <div class="row gx-0 gy-3">
                                                    <div class="col-12">
                                                        {% if mockup_page.images[0] %}
                                                            <img src="{{ uploaded_asset(mockup_page.images[0]) }}" style="max-width: 100%;max-height: 400px;">
                                                        {% endif %}
                                                    </div>
                                                    <div class="col-12">
                                                        {% if mockup_page.images[1] %}
                                                            <img src="{{ uploaded_asset(mockup_page.images[1]) }}" style="max-width: 100%;max-height: 400px;">
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-8">
                                                {% if mockup_page.images[2] %}
                                                    <img src="{{ uploaded_asset(mockup_page.images[2]) }}" style="max-width: 100%;max-height: 800px;">
                                                {% endif %}
                                            </div>
                                        {% endif %}
                                    </div>

                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}


