{% extends 'base.html.twig' %}

{% block title %}{{ manual.name }}{% endblock %}
{% set active_menu_item = 'manuals' %}

{% block custom_styles %}
    <style>
        {% for font in manual.fonts %}
            {% for font_face in font.faces %}
                @font-face {
                    font-family: '{{ font.name }}';
                    src: url('{{ uploaded_asset(font_face.filePath) }}');
                    font-weight: {{ font_face.weight }};
                    {# TODO: font-style: normal; #}
                }
            {% endfor %}
        {% endfor %}
    </style>
{% endblock %}

{% block full_content %}
    <div class="row g-0">
        <div class="col-md-1 bg-dark d-none d-md-block">
            <nav id="manual-navbar" class="h-100 flex-column align-items-stretch border-end text-center">
                <nav class="nav nav-pills flex-column">
                    {% set page = 0 %}

                    {% if manual.introImage %}
                        {% set page = page+1 %}
                        <a class="nav-link rounded-0 py-3" href="#page-{{ page }}">Page {{ "%02d"|format(page) }}</a>
                    {% endif %}

                    {% if manual.logo.horizontal or manual.logo.vertical or manual.logo.symbol %}
                        {% set page = page+1 %}
                        <a class="nav-link rounded-0 py-3" href="#page-{{ page }}">Page {{ "%02d"|format(page) }}</a>
                    {% endif %}

                    {% if manual.logo.horizontalWithClaim or manual.logo.verticalWithClaim %}
                        {% set page = page+1 %}
                        <a class="nav-link rounded-0 py-3" href="#page-{{ page }}">Page {{ "%02d"|format(page) }}</a>
                    {% endif %}

                    {% if manual.logo.horizontal %}
                        {% set page = page+1 %}
                        <a class="nav-link rounded-0 py-3" href="#page-{{ page }}">Page {{ "%02d"|format(page) }}</a>
                    {% endif %}

                    {% if manual.logo.horizontalWithClaim %}
                        {% set page = page+1 %}
                        <a class="nav-link rounded-0 py-3" href="#page-{{ page }}">Page {{ "%02d"|format(page) }}</a>
                    {% endif %}

                    {% if manual.logo.vertical %}
                        {% set page = page+1 %}
                        <a class="nav-link rounded-0 py-3" href="#page-{{ page }}">Page {{ "%02d"|format(page) }}</a>
                    {% endif %}

                    {% if manual.logo.verticalWithClaim %}
                        {% set page = page+1 %}
                        <a class="nav-link rounded-0 py-3" href="#page-{{ page }}">Page {{ "%02d"|format(page) }}</a>
                    {% endif %}

                    {% if manual.logo.horizontal or manual.logo.horizontalWithClaim %}
                        {% set page = page+1 %}
                        <a class="nav-link rounded-0 py-3" href="#page-{{ page }}">Page {{ "%02d"|format(page) }}</a>
                    {% endif %}

                    {% if manual.logo.vertical or manual.logo.verticalWithClaim %}
                        {% set page = page+1 %}
                        <a class="nav-link rounded-0 py-3" href="#page-{{ page }}">Page {{ "%02d"|format(page) }}</a>
                    {% endif %}

                    {% if manual.logo.symbol %}
                        {% set page = page+1 %}
                        <a class="nav-link rounded-0 py-3" href="#page-{{ page }}">Page {{ "%02d"|format(page) }}</a>
                    {% endif %}

                    {% if manual.logo.horizontal or manual.logo.vertical or manual.logo.symbol %}
                        {% set page = page+1 %}
                        <a class="nav-link rounded-0 py-3" href="#page-{{ page }}">Page {{ "%02d"|format(page) }}</a>
                    {% endif %}

                    {% if manual.primaryColor(2) or manual.primaryColor(3) or manual.primaryColor(4) %}
                        {% set page = page+1 %}
                        <a class="nav-link rounded-0 py-3" href="#page-{{ page }}">Page {{ "%02d"|format(page) }}</a>
                    {% endif %}

                    {% if manual.secondaryColors %}
                        {% set page = page+1 %}
                        <a class="nav-link rounded-0 py-3" href="#page-{{ page }}">Page {{ "%02d"|format(page) }}</a>
                    {% endif %}

                    {% for font in manual.fonts %}
                        {% set page = page+1 %}
                        <a class="nav-link rounded-0 py-3" href="#page-{{ page }}">Page {{ "%02d"|format(page) }}</a>
                    {% endfor %}

                    {% for mockup_page in manual.pages %}
                        {% set page = page+1 %}
                        <a class="nav-link rounded-0 py-3" href="#page-{{ page }}">Page {{ "%02d"|format(page) }}</a>
                    {% endfor %}
                </nav>
            </nav>
        </div>

        <div class="col-md-11">
            <div data-bs-spy="scroll" data-bs-target="#manual-navbar" data-bs-offset="0" class="manual-scrollspy">
                <div class="container">
                    {% set page = 0 %}

                    {% if manual.introImage %}
                        {% set page = page+1 %}
                        <div class="manual-page border-bottom border-2" id="page-{{ page }}">
                            <div class="page-heading py-3 border-bottom">
                                <span class="d-inline-block pe-4 fs-4">{{ "%02d"|format(page) }}</span>
                                <span class="d-inline-block pe-4 fs-4">{{ manual.name }}</span>
                                <span class="d-inline-block pe-4 fs-4 fw-bold">Úvod</span>
                                <span class="d-inline-block float-end fs-4">{{ manual.brandManual ? 'Brand manuál' : 'Logo manuál' }}</span>
                            </div>

                            <div class="page-content py-4 gx-5 row">
                                <div class="page-description col-12 text-center">
                                    <img src="{{ uploaded_asset(manual.introImage) }}" style="max-width: 100%;" alt="Úvod">
                                </div>
                            </div>
                        </div>
                    {% endif %}

                    {% if manual.logo.horizontal or manual.logo.vertical or manual.logo.symbol %}
                        {% set page = page+1 %}
                        <div class="manual-page border-bottom border-2" id="page-{{ page }}">
                            <div class="page-heading py-3 border-bottom">
                                <span class="d-inline-block pe-4 fs-4">{{ "%02d"|format(page) }}</span>
                                <span class="d-inline-block pe-4 fs-4">{{ manual.name }}</span>
                                <span class="d-inline-block pe-4 fs-4 fw-bold">Základní logotyp</span>
                                <span class="d-inline-block float-end fs-4">{{ manual.brandManual ? 'Brand manuál' : 'Logo manuál' }}</span>
                            </div>

                            <div class="page-content py-4 gx-5 row">
                                <div class="page-description col-3 fs-4">
                                    Dle konkrétní aplikace je možné zvolit horizontální nebo vertikální variantu loga, případně samostatný symbol. Variantu loga je nutné zvolit tak, aby byla zajištěna maximální výraznost a čitelnost loga. Primární je vždy horizontální verze.
                                </div>
                                <div class="page-designs col-9">
                                    {% if manual.logo.horizontal %}
                                        {% set colorsMapping = {} %}

                                        <div class="border border-2 p-5 rounded-4 mb-4" style="background: {{ '#' ~ manual.primaryColor(1) }}">
                                            <img src="{{ remap_svg_colors(manual.logo.horizontal, manual, colorsMapping) }}">
                                        </div>
                                    {% endif %}

                                    {% if manual.logo.vertical or manual.logo.symbol %}
                                        <div class="row">
                                            {% if manual.logo.vertical %}
                                                <div class="col-6">
                                                    <div class="border border-2 p-5 rounded-4" style="background: {{ '#' ~ manual.primaryColor(1) }}">
                                                        <img src="{{ remap_svg_colors(manual.logo.vertical, manual, colorsMapping) }}">
                                                    </div>
                                                </div>
                                            {% endif %}

                                            {% if manual.logo.symbol %}
                                                <div class="col-6">
                                                    <div class="border border-2 p-5 rounded-4" style="background: {{ '#' ~ manual.primaryColor(1) }}">
                                                        <img src="{{ remap_svg_colors(manual.logo.symbol, manual, colorsMapping) }}">
                                                    </div>
                                                </div>
                                            {% endif %}
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endif %}

                    {% if manual.logo.horizontalWithClaim or manual.logo.verticalWithClaim %}
                        {% set page = page+1 %}
                        <div class="manual-page border-bottom border-2" id="page-{{ page }}">
                            <div class="page-heading py-3 border-bottom">
                                <span class="d-inline-block pe-4 fs-4">{{ "%02d"|format(page) }}</span>
                                <span class="d-inline-block pe-4 fs-4">{{ manual.name }}</span>
                                <span class="d-inline-block pe-4 fs-4 fw-bold">Základní logotyp</span>
                                <span class="d-inline-block float-end fs-4">{{ manual.brandManual ? 'Brand manuál' : 'Logo manuál' }}</span>
                            </div>

                            <div class="page-content py-4 gx-5 row">
                                <div class="page-description col-3 fs-4">
                                    Dle konkrétní aplikace je možné zvolit horizontální nebo vertikální variantu loga, případně samostatný symbol. Variantu loga je nutné zvolit tak, aby byla zajištěna maximální výraznost a čitelnost loga. Primární je vždy horizontální verze.
                                </div>
                                <div class="page-designs col-9">
                                    {% if manual.logo.horizontalWithClaim %}
                                        {% set colorsMapping = {} %}

                                        <div class="border border-2 p-5 rounded-4 mb-4" style="background: {{ '#' ~ manual.primaryColor(1) }}">
                                            <img src="{{ remap_svg_colors(manual.logo.horizontalWithClaim, manual, colorsMapping) }}">
                                        </div>
                                    {% endif %}

                                    {% if manual.logo.verticalWithClaim %}
                                        <div class="row">
                                            <div class="col-6">
                                                <div class="border border-2 p-5 rounded-4" style="background: {{ '#' ~ manual.primaryColor(1) }}">
                                                    <img src="{{ remap_svg_colors(manual.logo.verticalWithClaim, manual, colorsMapping) }}">
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endif %}

                    {% if manual.logo.horizontal %}
                        {% set page = page+1 %}

                        <div class="manual-page border-bottom border-2" id="page-{{ page }}">
                            <div class="page-heading py-3 border-bottom">
                                <span class="d-inline-block pe-4 fs-4">{{ "%02d"|format(page) }}</span>
                                <span class="d-inline-block pe-4 fs-4">{{ manual.name }}</span>
                                <span class="d-inline-block pe-4 fs-4 fw-bold">Základní logotyp</span>
                                <span class="d-inline-block float-end fs-4">{{ manual.brandManual ? 'Brand manuál' : 'Logo manuál' }}</span>
                            </div>

                            <div class="page-content py-4 gx-5 row">
                                <div class="page-description col-3 fs-4">
                                    Dle konkrétní aplikace je možné zvolit horizontální nebo vertikální variantu loga, případně samostatný symbol. Variantu loga je nutné zvolit tak, aby byla zajištěna maximální výraznost a čitelnost loga. Primární je vždy horizontální verze.
                                </div>
                                <div class="page-designs col-9">

                                    <div class="row">
                                        <div class="col-6">
                                            <div class="border border-2 p-5 rounded-4 mb-4" style="background: {{ '#' ~ manual.primaryColor(1) }}">
                                                <img src="{{ remap_svg_colors(manual.logo.horizontal, manual, colorsMapping) }}">
                                            </div>
                                        </div>

                                        {% set colorsMapping = {1: 2, 2: 1} %}

                                        <div class="col-6">
                                            <div class="border border-2 p-5 rounded-4 mb-4" style="background: {{ '#' ~ manual.primaryColor(2) }}">
                                                <img src="{{ remap_svg_colors(manual.logo.horizontal, manual, colorsMapping) }}">
                                            </div>
                                        </div>

                                        {% set colorsMapping = {1: 3, 3: 1} %}

                                        <div class="col-6">
                                            <div class="border border-2 p-5 rounded-4" style="background: {{ '#' ~ manual.primaryColor(3) }}">
                                                <img src="{{ remap_svg_colors(manual.logo.horizontal, manual, colorsMapping) }}">
                                            </div>
                                        </div>

                                        {% set colorsMapping = {1: 4, 3: 1, 2: 1} %}

                                        <div class="col-6">
                                            <div class="border border-2 p-5 rounded-4" style="background: {{ '#' ~ manual.primaryColor(4) }}">
                                                <img src="{{ remap_svg_colors(manual.logo.horizontal, manual, colorsMapping) }}">
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    {% endif %}

                    {% if manual.logo.horizontalWithClaim %}
                        {% set page = page+1 %}

                        <div class="manual-page border-bottom border-2" id="page-{{ page }}">
                            <div class="page-heading py-3 border-bottom">
                                <span class="d-inline-block pe-4 fs-4">{{ "%02d"|format(page) }}</span>
                                <span class="d-inline-block pe-4 fs-4">{{ manual.name }}</span>
                                <span class="d-inline-block pe-4 fs-4 fw-bold">Základní logotyp</span>
                                <span class="d-inline-block float-end fs-4">{{ manual.brandManual ? 'Brand manuál' : 'Logo manuál' }}</span>
                            </div>

                            <div class="page-content py-4 gx-5 row">
                                <div class="page-description col-3 fs-4">
                                    Dle konkrétní aplikace je možné zvolit horizontální nebo vertikální variantu loga, případně samostatný symbol. Variantu loga je nutné zvolit tak, aby byla zajištěna maximální výraznost a čitelnost loga. Primární je vždy horizontální verze.
                                </div>
                                <div class="page-designs col-9">

                                    {% set colorsMapping = {} %}

                                    <div class="row">
                                        <div class="col-6">
                                            <div class="border border-2 p-5 rounded-4 mb-4" style="background: {{ '#' ~ manual.primaryColor(1) }}">
                                                <img src="{{ remap_svg_colors(manual.logo.horizontalWithClaim, manual, colorsMapping) }}">
                                            </div>
                                        </div>

                                        {% set colorsMapping = {4: 3, 2: 1} %}

                                        <div class="col-6">
                                            <div class="border border-2 p-5 rounded-4 mb-4" style="background: {{ '#' ~ manual.primaryColor(2) }}">
                                                <img src="{{ remap_svg_colors(manual.logo.horizontalWithClaim, manual, colorsMapping) }}">
                                            </div>
                                        </div>

                                        {% set colorsMapping = {1: 3, 3: 1, 4: 1} %}

                                        <div class="col-6">
                                            <div class="border border-2 p-5 rounded-4" style="background: {{ '#' ~ manual.primaryColor(3) }}">
                                                <img src="{{ remap_svg_colors(manual.logo.horizontalWithClaim, manual, colorsMapping) }}">
                                            </div>
                                        </div>

                                        {% set colorsMapping = {1: 4, 3: 1, 2: 1, 4: 1} %}

                                        <div class="col-6">
                                            <div class="border border-2 p-5 rounded-4" style="background: {{ '#' ~ manual.primaryColor(4) }}">
                                                <img src="{{ remap_svg_colors(manual.logo.horizontalWithClaim, manual, colorsMapping) }}">
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    {% endif %}

                    {% if manual.logo.vertical %}
                        {% set page = page+1 %}

                        <div class="manual-page border-bottom border-2" id="page-{{ page }}">
                            <div class="page-heading py-3 border-bottom">
                                <span class="d-inline-block pe-4 fs-4">{{ "%02d"|format(page) }}</span>
                                <span class="d-inline-block pe-4 fs-4">{{ manual.name }}</span>
                                <span class="d-inline-block pe-4 fs-4 fw-bold">Základní logotyp</span>
                                <span class="d-inline-block float-end fs-4">{{ manual.brandManual ? 'Brand manuál' : 'Logo manuál' }}</span>
                            </div>

                            <div class="page-content py-4 gx-5 row">
                                <div class="page-description col-3 fs-4">
                                    Dle konkrétní aplikace je možné zvolit horizontální nebo vertikální variantu loga, případně samostatný symbol. Variantu loga je nutné zvolit tak, aby byla zajištěna maximální výraznost a čitelnost loga. Primární je vždy horizontální verze.
                                </div>
                                <div class="page-designs col-9">

                                    {% set colorsMapping = {} %}

                                    <div class="row">
                                        <div class="col-6">
                                            <div class="border border-2 p-5 rounded-4 mb-4" style="background: {{ '#' ~ manual.primaryColor(1) }}">
                                                <img src="{{ remap_svg_colors(manual.logo.vertical, manual, colorsMapping) }}">
                                            </div>
                                        </div>

                                        {% set colorsMapping = {1: 2, 2: 1} %}

                                        <div class="col-6">
                                            <div class="border border-2 p-5 rounded-4 mb-4" style="background: {{ '#' ~ manual.primaryColor(2) }}">
                                                <img src="{{ remap_svg_colors(manual.logo.vertical, manual, colorsMapping) }}">
                                            </div>
                                        </div>

                                        {% set colorsMapping = {1: 3, 3: 1} %}

                                        <div class="col-6">
                                            <div class="border border-2 p-5 rounded-4" style="background: {{ '#' ~ manual.primaryColor(3) }}">
                                                <img src="{{ remap_svg_colors(manual.logo.vertical, manual, colorsMapping) }}">
                                            </div>
                                        </div>

                                        {% set colorsMapping = {1: 4, 3: 1, 2: 1} %}

                                        <div class="col-6">
                                            <div class="border border-2 p-5 rounded-4" style="background: {{ '#' ~ manual.primaryColor(4) }}">
                                                <img src="{{ remap_svg_colors(manual.logo.vertical, manual, colorsMapping) }}">
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    {% endif %}

                    {% if manual.logo.verticalWithClaim %}
                        {% set page = page+1 %}

                        <div class="manual-page border-bottom border-2" id="page-{{ page }}">
                            <div class="page-heading py-3 border-bottom">
                                <span class="d-inline-block pe-4 fs-4">{{ "%02d"|format(page) }}</span>
                                <span class="d-inline-block pe-4 fs-4">{{ manual.name }}</span>
                                <span class="d-inline-block pe-4 fs-4 fw-bold">Základní logotyp</span>
                                <span class="d-inline-block float-end fs-4">{{ manual.brandManual ? 'Brand manuál' : 'Logo manuál' }}</span>
                            </div>

                            <div class="page-content py-4 gx-5 row">
                                <div class="page-description col-3 fs-4">
                                    Dle konkrétní aplikace je možné zvolit horizontální nebo vertikální variantu loga, případně samostatný symbol. Variantu loga je nutné zvolit tak, aby byla zajištěna maximální výraznost a čitelnost loga. Primární je vždy horizontální verze.
                                </div>
                                <div class="page-designs col-9">

                                    {% set colorsMapping = {} %}

                                    <div class="row">
                                        <div class="col-6">
                                            <div class="border border-2 p-5 rounded-4 mb-4" style="background: {{ '#' ~ manual.primaryColor(1) }}">
                                                <img src="{{ remap_svg_colors(manual.logo.verticalWithClaim, manual, colorsMapping) }}">
                                            </div>
                                        </div>

                                        {% set colorsMapping = {4: 3, 2: 1} %}

                                        <div class="col-6">
                                            <div class="border border-2 p-5 rounded-4 mb-4" style="background: {{ '#' ~ manual.primaryColor(2) }}">
                                                <img src="{{ remap_svg_colors(manual.logo.verticalWithClaim, manual, colorsMapping) }}">
                                            </div>
                                        </div>

                                        {% set colorsMapping = {1: 3, 3: 1, 4: 1} %}

                                        <div class="col-6">
                                            <div class="border border-2 p-5 rounded-4" style="background: {{ '#' ~ manual.primaryColor(3) }}">
                                                <img src="{{ remap_svg_colors(manual.logo.verticalWithClaim, manual, colorsMapping) }}">
                                            </div>
                                        </div>

                                        {% set colorsMapping = {1: 4, 3: 1, 2: 1, 4: 1} %}

                                        <div class="col-6">
                                            <div class="border border-2 p-5 rounded-4" style="background: {{ '#' ~ manual.primaryColor(4) }}">
                                                <img src="{{ remap_svg_colors(manual.logo.verticalWithClaim, manual, colorsMapping) }}">
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    {% endif %}

                    {% if manual.logo.horizontal or manual.logo.horizontalWithClaim %}
                        {% set page = page+1 %}

                        <div class="manual-page border-bottom border-2" id="page-{{ page }}">
                            <div class="page-heading py-3 border-bottom">
                                <span class="d-inline-block pe-4 fs-4">{{ "%02d"|format(page) }}</span>
                                <span class="d-inline-block pe-4 fs-4">{{ manual.name }}</span>
                                <span class="d-inline-block pe-4 fs-4 fw-bold">Základní logotyp</span>
                                <span class="d-inline-block float-end fs-4">{{ manual.brandManual ? 'Brand manuál' : 'Logo manuál' }}</span>
                            </div>

                            <div class="page-content py-4 gx-5 row">
                                <div class="page-description col-3 fs-4">
                                    Dle konkrétní aplikace je možné zvolit horizontální nebo vertikální variantu loga, případně samostatný symbol. Variantu loga je nutné zvolit tak, aby byla zajištěna maximální výraznost a čitelnost loga. Primární je vždy horizontální verze.
                                </div>
                                <div class="page-designs col-9">

                                    <div class="row">
                                        {% if manual.logo.horizontal %}
                                            {% set colorsMapping = {2: '#000000', 3: '#000000', 4: '#000000'} %}
                                            <div class="col-6">
                                                <div class="border border-2 p-5 rounded-4 mb-4" style="background: {{ '#' ~ manual.primaryColor(1) }}">
                                                    <img src="{{ remap_svg_colors(manual.logo.horizontal, manual, colorsMapping) }}">
                                                </div>
                                            </div>
                                        {% endif %}

                                        {% if manual.logo.horizontal %}
                                            {% set colorsMapping = {2: '#ffffff', 3: '#ffffff', 4: '#ffffff'} %}
                                            <div class="col-6">
                                                <div class="border border-2 p-5 rounded-4 mb-4" style="background: #000000">
                                                    <img src="{{ remap_svg_colors(manual.logo.horizontal, manual, colorsMapping) }}">
                                                </div>
                                            </div>
                                        {% endif %}

                                        {% if manual.logo.horizontalWithClaim %}
                                            {% set colorsMapping = {2: '#000000', 3: '#000000', 4: '#000000'} %}
                                            <div class="col-6">
                                                <div class="border border-2 p-5 rounded-4" style="background: #ffffff">
                                                    <img src="{{ remap_svg_colors(manual.logo.horizontalWithClaim, manual, colorsMapping) }}">
                                                </div>
                                            </div>
                                        {% endif %}

                                        {% if manual.logo.horizontalWithClaim %}
                                            {% set colorsMapping = {2: '#ffffff', 3: '#ffffff', 4: '#ffffff'} %}
                                            <div class="col-6">
                                                <div class="border border-2 p-5 rounded-4" style="background: #000000">
                                                    <img src="{{ remap_svg_colors(manual.logo.horizontalWithClaim, manual, colorsMapping) }}">
                                                </div>
                                            </div>
                                        {% endif %}
                                    </div>

                                </div>
                            </div>
                        </div>
                    {% endif %}

                    {% if manual.logo.vertical or manual.logo.verticalWithClaim %}
                        {% set page = page+1 %}

                        <div class="manual-page border-bottom border-2" id="page-{{ page }}">
                            <div class="page-heading py-3 border-bottom">
                                <span class="d-inline-block pe-4 fs-4">{{ "%02d"|format(page) }}</span>
                                <span class="d-inline-block pe-4 fs-4">{{ manual.name }}</span>
                                <span class="d-inline-block pe-4 fs-4 fw-bold">Základní logotyp</span>
                                <span class="d-inline-block float-end fs-4">{{ manual.brandManual ? 'Brand manuál' : 'Logo manuál' }}</span>
                            </div>

                            <div class="page-content py-4 gx-5 row">
                                <div class="page-description col-3 fs-4">
                                    Dle konkrétní aplikace je možné zvolit horizontální nebo vertikální variantu loga, případně samostatný symbol. Variantu loga je nutné zvolit tak, aby byla zajištěna maximální výraznost a čitelnost loga. Primární je vždy horizontální verze.
                                </div>
                                <div class="page-designs col-9">

                                    {% set colorsMapping = {2: '#000000', 3: '#000000', 4: '#000000'} %}

                                    <div class="row">
                                        {% if manual.logo.vertical %}
                                            <div class="col-6">
                                                <div class="border border-2 p-5 rounded-4 mb-4" style="background: {{ '#' ~ manual.primaryColor(1) }}">
                                                    <img src="{{ remap_svg_colors(manual.logo.vertical, manual, colorsMapping) }}">
                                                </div>
                                            </div>
                                        {% endif %}

                                        {% if manual.logo.vertical %}
                                            {% set colorsMapping = {2: '#ffffff', 3: '#ffffff', 4: '#ffffff'} %}

                                            <div class="col-6">
                                                <div class="border border-2 p-5 rounded-4 mb-4" style="background: #000000">
                                                    <img src="{{ remap_svg_colors(manual.logo.vertical, manual, colorsMapping) }}">
                                                </div>
                                            </div>
                                        {% endif %}


                                        {% if manual.logo.verticalWithClaim %}
                                            {% set colorsMapping = {2: '#000000', 3: '#000000', 4: '#000000'} %}
                                            <div class="col-6">
                                                <div class="border border-2 p-5 rounded-4" style="background: #ffffff">
                                                    <img src="{{ remap_svg_colors(manual.logo.verticalWithClaim, manual, colorsMapping) }}">
                                                </div>
                                            </div>
                                        {% endif %}

                                        {% if manual.logo.verticalWithClaim %}
                                            {% set colorsMapping = {2: '#ffffff', 3: '#ffffff', 4: '#ffffff'} %}
                                            <div class="col-6">
                                                <div class="border border-2 p-5 rounded-4" style="background: #000000">
                                                    <img src="{{ remap_svg_colors(manual.logo.verticalWithClaim, manual, colorsMapping) }}">
                                                </div>
                                            </div>
                                        {% endif %}
                                    </div>

                                </div>
                            </div>
                        </div>
                    {% endif %}

                    {% if manual.logo.symbol %}
                        {% set page = page+1 %}

                        <div class="manual-page border-bottom border-2" id="page-{{ page }}">
                            <div class="page-heading py-3 border-bottom">
                                <span class="d-inline-block pe-4 fs-4">{{ "%02d"|format(page) }}</span>
                                <span class="d-inline-block pe-4 fs-4">{{ manual.name }}</span>
                                <span class="d-inline-block pe-4 fs-4 fw-bold">Základní logotyp</span>
                                <span class="d-inline-block float-end fs-4">{{ manual.brandManual ? 'Brand manuál' : 'Logo manuál' }}</span>
                            </div>

                            <div class="page-content py-4 gx-5 row">
                                <div class="page-description col-3 fs-4">
                                    Dle konkrétní aplikace je možné zvolit horizontální nebo vertikální variantu loga, případně samostatný symbol. Variantu loga je nutné zvolit tak, aby byla zajištěna maximální výraznost a čitelnost loga. Primární je vždy horizontální verze.
                                </div>
                                <div class="page-designs col-9">

                                    {% set colorsMapping = {} %}

                                    <div class="row">
                                        {% if manual.logo.symbol %}
                                            <div class="col-6">
                                                <div class="border border-2 p-5 rounded-4 mb-4" style="background: {{ '#' ~ manual.primaryColor(1) }}">
                                                    <img src="{{ remap_svg_colors(manual.logo.symbol, manual, colorsMapping) }}">
                                                </div>
                                            </div>
                                        {% endif %}

                                        {% if manual.logo.symbol %}
                                            {% set colorsMapping = {1: 2} %}
                                            <div class="col-6">
                                                <div class="border border-2 p-5 rounded-4 mb-4" style="background: {{ '#' ~ manual.primaryColor(2) }}">
                                                    <img src="{{ remap_svg_colors(manual.logo.symbol, manual, colorsMapping) }}">
                                                </div>
                                            </div>
                                        {% endif %}

                                        {% if manual.logo.symbol %}
                                            {% set colorsMapping = {1: 3, 3: 1} %}
                                            <div class="col-6">
                                                <div class="border border-2 p-5 rounded-4 mb-4" style="background: {{ '#' ~ manual.primaryColor(3) }}">
                                                    <img src="{{ remap_svg_colors(manual.logo.symbol, manual, colorsMapping) }}">
                                                </div>
                                            </div>
                                        {% endif %}

                                        {% if manual.logo.symbol %}
                                            {% set colorsMapping = {2: '#000000', 3: '#000000', 4: '#000000'} %}
                                            <div class="col-6">
                                                <div class="border border-2 p-5 rounded-4" style="background: #ffffff">
                                                    <img src="{{ remap_svg_colors(manual.logo.symbol, manual, colorsMapping) }}">
                                                </div>
                                            </div>
                                        {% endif %}

                                        {% if manual.logo.symbol %}
                                            {% set colorsMapping = {2: '#ffffff', 3: '#ffffff', 4: '#ffffff'} %}
                                            <div class="col-6">
                                                <div class="border border-2 p-5 rounded-4" style="background: #000000">
                                                    <img src="{{ remap_svg_colors(manual.logo.symbol, manual, colorsMapping) }}">
                                                </div>
                                            </div>
                                        {% endif %}
                                    </div>

                                </div>
                            </div>
                        </div>
                    {% endif %}

                    {% if manual.logo.horizontal or manual.logo.vertical or manual.logo.symbol %}
                        {% set page = page+1 %}

                        <div class="manual-page border-bottom border-2" id="page-{{ page }}">
                            <div class="page-heading py-3 border-bottom">
                                <span class="d-inline-block pe-4 fs-4">{{ "%02d"|format(page) }}</span>
                                <span class="d-inline-block pe-4 fs-4">{{ manual.name }}</span>
                                <span class="d-inline-block pe-4 fs-4 fw-bold">Základní logotyp</span>
                                <span class="d-inline-block float-end fs-4">{{ manual.brandManual ? 'Brand manuál' : 'Logo manuál' }}</span>
                            </div>

                            <div class="page-content py-4 gx-5 row">
                                <div class="page-description col-3 fs-4">
                                    Dle konkrétní aplikace je možné zvolit horizontální nebo vertikální variantu loga, případně samostatný symbol. Variantu loga je nutné zvolit tak, aby byla zajištěna maximální výraznost a čitelnost loga. Primární je vždy horizontální verze.
                                </div>
                                <div class="page-designs col-9">

                                    {% set colorsMapping = {} %}

                                    <div class="row">
                                        {% if manual.logo.horizontal %}
                                            <div class="col-12">
                                                <div class="border border-2 p-5 rounded-4 mb-4" style="background: {{ '#' ~ manual.primaryColor(1) }}">
                                                    OCHRANNÁ ZÓNA 1/3 VÝŠKY LOGA (Z KAŽDÉ STRANY)
                                                    <img src="{{ remap_svg_colors(manual.logo.horizontal, manual, colorsMapping) }}">
                                                </div>
                                            </div>
                                        {% endif %}

                                        {% if manual.logo.vertical %}
                                            <div class="col-6">
                                                <div class="border border-2 p-5 rounded-4 mb-4" style="background: {{ '#' ~ manual.primaryColor(1) }}">
                                                    OCHRANNÁ ZÓNA 1/3 VÝŠKY LOGA (Z KAŽDÉ STRANY)
                                                    <img src="{{ remap_svg_colors(manual.logo.vertical, manual, colorsMapping) }}">
                                                </div>
                                            </div>
                                        {% endif %}

                                        {% if manual.logo.symbol %}
                                            <div class="col-6">
                                                <div class="border border-2 p-5 rounded-4" style="background: {{ '#' ~ manual.primaryColor(1) }}">
                                                    OCHRANNÁ ZÓNA 1/3 VÝŠKY LOGA (Z KAŽDÉ STRANY)
                                                    <img src="{{ remap_svg_colors(manual.logo.symbol, manual, colorsMapping) }}">
                                                </div>
                                            </div>
                                        {% endif %}
                                    </div>

                                </div>
                            </div>
                        </div>
                    {% endif %}

                    {% if manual.primaryColor(2) or manual.primaryColor(3) or manual.primaryColor(4) %}
                        {% set page = page+1 %}

                        <div class="manual-page border-bottom border-2" id="page-{{ page }}">
                            <div class="page-heading py-3 border-bottom">
                                <span class="d-inline-block pe-4 fs-4">{{ "%02d"|format(page) }}</span>
                                <span class="d-inline-block pe-4 fs-4">{{ manual.name }}</span>
                                <span class="d-inline-block pe-4 fs-4 fw-bold">Základní logotyp</span>
                                <span class="d-inline-block float-end fs-4">{{ manual.brandManual ? 'Brand manuál' : 'Logo manuál' }}</span>
                            </div>

                            <div class="page-content py-4 gx-5 row">
                                <div class="page-description col-3 fs-4">
                                    Dle konkrétní aplikace je možné zvolit horizontální nebo vertikální variantu loga, případně samostatný symbol. Variantu loga je nutné zvolit tak, aby byla zajištěna maximální výraznost a čitelnost loga. Primární je vždy horizontální verze.
                                </div>
                                <div class="page-designs col-9">
                                    {% if manual.primaryColor(2) %}
                                        <span class="d-inline-block avatar-sm rounded-circle me-3 border" style="background: {{ '#' ~ manual.primaryColor(2) }};"></span>
                                    {% endif %}

                                    {% if manual.primaryColor(3) %}
                                        <span class="d-inline-block avatar-sm rounded-circle me-3 border" style="background: {{ '#' ~ manual.primaryColor(3) }};"></span>
                                    {% endif %}

                                    {% if manual.primaryColor(4) %}
                                        <span class="d-inline-block avatar-sm rounded-circle me-3 border" style="background: {{ '#' ~ manual.primaryColor(4) }};"></span>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endif %}

                    {% if manual.secondaryColors %}
                        {% set page = page+1 %}

                        <div class="manual-page border-bottom border-2" id="page-{{ page }}">
                            <div class="page-heading py-3 border-bottom">
                                <span class="d-inline-block pe-4 fs-4">{{ "%02d"|format(page) }}</span>
                                <span class="d-inline-block pe-4 fs-4">{{ manual.name }}</span>
                                <span class="d-inline-block pe-4 fs-4 fw-bold">Základní logotyp</span>
                                <span class="d-inline-block float-end fs-4">{{ manual.brandManual ? 'Brand manuál' : 'Logo manuál' }}</span>
                            </div>

                            <div class="page-content py-4 gx-5 row">
                                <div class="page-description col-3 fs-4">
                                    Dle konkrétní aplikace je možné zvolit horizontální nebo vertikální variantu loga, případně samostatný symbol. Variantu loga je nutné zvolit tak, aby byla zajištěna maximální výraznost a čitelnost loga. Primární je vždy horizontální verze.
                                </div>
                                <div class="page-designs col-9">
                                    {% for secondary_color in manual.secondaryColors %}
                                        <span class="d-inline-block avatar-sm rounded-circle me-3 border" style="background: {{ '#' ~ secondary_color }};"></span>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    {% endif %}

                    {% for font in manual.fonts %}
                        {% set page = page+1 %}

                        <div class="manual-page border-bottom border-2" id="page-{{ page }}">
                            <div class="page-heading py-3 border-bottom">
                                <span class="d-inline-block pe-4 fs-4">{{ "%02d"|format(page) }}</span>
                                <span class="d-inline-block pe-4 fs-4">{{ manual.name }}</span>
                                <span class="d-inline-block pe-4 fs-4 fw-bold">Základní logotyp</span>
                                <span class="d-inline-block float-end fs-4">{{ manual.brandManual ? 'Brand manuál' : 'Logo manuál' }}</span>
                            </div>

                            <div class="page-content py-4 gx-5 row">
                                <div class="page-description col-3 fs-4">
                                    Dle konkrétní aplikace je možné zvolit horizontální nebo vertikální variantu loga, případně samostatný symbol. Variantu loga je nutné zvolit tak, aby byla zajištěna maximální výraznost a čitelnost loga. Primární je vždy horizontální verze.
                                </div>
                                <div class="page-designs col-9">

                                    <div class="row">
                                        <div class="col-12">
                                            Rodina {{ font.name }}

                                            {% for font_face in font.faces %}
                                                <p style="font-family: '{{ font.name }}', sans-serif;font-weight: {{ font_face.weight }};font-size: 32px;">
                                                    {{ font_face.name }}<br>
                                                    ABCDEFGHIJKLMNOPQRSTUVWXYZ<br>
                                                    abcdefghijklmnopqrstuvwxyz
                                                </p>
                                            {% endfor %}
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    {% endfor %}

                    {% for mockup_page in manual.pages %}
                        {% set page = page+1 %}

                        <div class="manual-page border-bottom border-2" id="page-{{ page }}">
                            <div class="page-heading py-3 border-bottom">
                                <span class="d-inline-block pe-4 fs-4">{{ "%02d"|format(page) }}</span>
                                <span class="d-inline-block pe-4 fs-4">{{ manual.name }}</span>
                                <span class="d-inline-block pe-4 fs-4 fw-bold">{{ mockup_page.name }}</span>
                                <span class="d-inline-block float-end fs-4">{{ manual.brandManual ? 'Brand manuál' : 'Logo manuál' }}</span>
                            </div>

                            <div class="page-content py-4 gx-5 row">
                                <div class="page-description col-3 fs-4">
                                    Dle konkrétní aplikace je možné zvolit horizontální nebo vertikální variantu loga, případně samostatný symbol. Variantu loga je nutné zvolit tak, aby byla zajištěna maximální výraznost a čitelnost loga. Primární je vždy horizontální verze.
                                </div>
                                <div class="page-designs col-9">

                                    <div class="row">
                                        {% for image in mockup_page.images %}
                                            <div class="col-4">
                                                {% if image %}
                                                    <img src="{{ uploaded_asset(image) }}" style="max-width: 100%;">
                                                {% endif %}
                                            </div>
                                        {% endfor %}
                                    </div>

                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}


