{% extends 'base_manual.html.twig' %}

{% block title %}Stránky s mockupy - {{ manual.name }}{% endblock %}
{% set active_menu_item = 'manuals' %}

{% block breadcrumb %}
    <ol class="breadcrumb m-0 pt-0">
        <li class="breadcrumb-item"><i class="uil-home-alt"></i> <a href="{{ path('homepage') }}">Projekty</a></li>
        <li class="breadcrumb-item"><a href="{{ path('project_dashboard', {'id': project.id}) }}">{{ project.name }}</a></li>
        <li class="breadcrumb-item"><a href="{{ path('manuals_list', {'id': project.id}) }}">Manuály</a></li>
        <li class="breadcrumb-item"><a href="{{ path('manual_dashboard', {'id': manual.id}) }}">{{ manual.name }}</a></li>
        <li class="breadcrumb-item active">Stránky s mockupy</li>
    </ol>
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-xxl-3">
            {{ include('_manual_nav.html.twig') }}
        </div>

        <div class="col-xxl-9">
            <div class="row mb-2">
                <div class="col-sm-12">
                    <a href="{{ path('add_manual_mockup_page', {'id': manual.id}) }}" class="btn btn-outline-primary rounded-pill mb-3"><i class="mdi mdi-plus"></i> Přidat stránku</a>
                </div>
            </div>

            <div class="row" data-controller="dragula"
                 data-dragula-sort-url-value="{{ path('sort_manual_mockup_pages', {'manualId': manual.id}) }}"
                 data-dragula-direction-value="horizontal"
                 data-dragula-target="container">
                {% for page in pages %}
                    <div class="col-sm-6 col-md-4 position-relative" data-entity-id="{{ page.id }}">
                        <div class="card">
                            {% if is_granted('mockup_page_edit', page) %}
                                <div class="card-img-overlay dropdown card-widgets" style="left: auto;bottom: auto;">

                                    <a href="#" class="dropdown-toggle arrow-none" data-bs-toggle="dropdown" aria-expanded="false">
                                        <i class="ri-more-fill text-lighter"></i>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-end">
                                        <a href="{{ path('edit_manual_mockup_page', {'id': page.id}) }}" class="dropdown-item"><i class="mdi mdi-pencil me-1"></i>Upravit</a>
                                        <a href="#"
                                           class="dropdown-item"
                                           data-modal-id="{{ page.id }}"
                                           data-action="click->confirm-modal#showModal">
                                            <i class="mdi mdi-delete me-1"></i> Smazat
                                        </a>
                                    </div>
                                </div>

                                <twig:ConfirmModal
                                    id="{{ page.id }}"
                                    url="{{ path('delete_manual_mockup_page', {'id': page.id}) }}"
                                    confirmationText="Opravdu chcete smazat tuto stránku?" />
                            {% endif %}

                            <div class="card-body">
                                <h4 class="mt-0">
                                    <span class="dragula-handle text-lighter position-absolute" style="left: 0;top: 20px;"></span>

                                    <span class="ps-3 d-inline-block">{{ page.name }}</span>
                                </h4>

                                {{ include('_mockup_page.html.twig', {
                                    'mockup_page': page,
                                    'gutter': 1,
                                }) }}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
