{% extends 'base.html.twig' %}

{% block title %}{{ project.name }}{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb m-0 pt-0">
        <li class="breadcrumb-item"><i class="uil-copy-alt"></i> <a href="{{ path('homepage') }}">Manuály</a></li>
        <li class="breadcrumb-item"><a href="{{ path('homepage') }}">Projekty</a></li>
        <li class="breadcrumb-item active">{{ block('title') }}</li>
    </ol>
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-xxl-3">
            {{ include('_project_nav.html.twig') }}
        </div>

        <div class="col-xxl-9">
        </div>
    </div>
{% endblock %}
