{% extends 'base.html.twig' %}

{% block content %}
    <h2>{{ project.name }}</h2>

    {{ form_start(project_images_form) }}

    {{ form_row(project_images_form.logoHorizontal) }}
    {{ form_row(project_images_form.logoVertical) }}
    {{ form_row(project_images_form.logoHorizontalWithClaim) }}
    {{ form_row(project_images_form.logoVerticalWithClaim) }}
    {{ form_row(project_images_form.logoSymbol) }}

    <p>
        <input type="submit" name="submit" value="Uložit" />
    </p>

    {{ form_end(project_images_form) }}
{% endblock %}
