{% extends 'base.html.twig' %}

{% set active_menu_item = 'social_networks' %}

{% block title %}Galerie obrázků{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb m-0 pt-0">
        <li class="breadcrumb-item"><i class="uil-home-alt"></i> <a href="{{ path('homepage') }}">Projekty</a></li>
        <li class="breadcrumb-item"><a href="{{ path('project_dashboard', {'id': project.id}) }}">{{ project.name }}</a></li>
        <li class="breadcrumb-item"><a href="{{ path('social_network_templates', {'projectId': project.id}) }}">Sociální sítě</a></li>
        <li class="breadcrumb-item active">{{ block('title') }}</li>
    </ol>
{% endblock %}

{% block content %}
    <p class="text-muted">
        Sdílená galerie obrázků projektu. Nahrané obrázky můžete organizovat do složek
        a používat je opakovaně v editoru šablon (tlačítka „Pozadí“ a „Přidat obrázek“).
    </p>

    <div class="card">
        <div class="card-body">
            <twig:Project:ImageGallery :project="project" :modal="false" />
        </div>
    </div>
{% endblock %}
